.bx_filter_horizontal{}
.bx_filter_horizontal .bx_filter_section{
	
	-ms-border-radius: 2px;          // IE
	-o-border-radius: 2px;           // Opera
	-moz-border-radius: 2px;         // Mozilla
	-webkit-border-radius:2px;		  // Chrome, Safari
	border-radius: 2px;
	


}
.bx_filter_horizontal .bx_filter_title{
    border: 2px solid #106799;
	-ms-border-radius: 7px;          
	-o-border-radius: 7px;           
	-moz-border-radius: 7px;         
	-webkit-border-radius:7px;		  
	border-radius: 7px;
    color: #106799;
    font-weight: bold;
    margin-top: -5px;
    padding: 0 10px 0 0;
    text-transform: uppercase;
    width: 150px !important;
}
.bx_filter_horizontal .bx_filter_container{
	float: left;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
	text-align: left;
}
.bx_filter_horizontal .bx_filter_container:nth-child(4n+2){clear: both}

.bx_filter_horizontal .bx_filter_container_title{
   background: url("/images/down-blue.png")  95% center no-repeat;
    border: 2px solid #106799;
-ms-border-radius: 7px;         
-o-border-radius: 7px;           
-moz-border-radius: 7px;         
-webkit-border-radius:7px;		  
border-radius: 7px;
    color: #106799;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    margin-bottom: -2px;
    margin-top: 0;
    padding: 5px 40px 5px 20px;
    text-transform: uppercase;
    width: 107px;
	box-sizing: content-box;
}

.ie8 .bx_filter_horizontal .bx_filter_container_title {
    width: 117px;
}

.bx_filter_horizontal .bx_filter_container_title:hover {
	color: #FF8C90;
	border-color:#FF8C90;
   	background: url("/images/down-pink.png") 95% center no-repeat;	
}

.bx-no-touch .bx_filter_horizontal .bx_filter_block{
	/*	display: block  !important;
		opacity: 1 		!important;
		height: auto 	!important;*/
}

.bx_filter_horizontal .bx_filter_block span {
    display: inline-block;
    height: 0;
    padding-bottom: 5px;
}
.bx_filter_horizontal .bx_filter_block input[type=checkbox]{
	position: relative;
}
.bx_filter_horizontal .bx_filter_block label{
	line-height: 22px;
	font-size: 12px;
	vertical-align: bottom;
	padding: 0 0 0 5px;
	margin:0;
}

.bx_filter_horizontal .bx_filter_param_area{margin-bottom: 20px}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block{
	width: 50%;
	float: left;
	text-align: right;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color: #3f3f3f;
	font-size: 11px;
}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block .bx_input_container{
	max-width:70px;
	display: inline-block;
	padding: 1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
-ms-border-radius: 3px;          // IE
-o-border-radius: 3px;           // Opera
-moz-border-radius: 3px;         // Mozilla
-webkit-border-radius:3px;		  // Chrome, Safari
border-radius: 3px;
	height: 35px;

}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block input{
	border: none;
-ms-border-radius: 2px;          // IE
-o-border-radius: 2px;           // Opera
-moz-border-radius: 2px;         // Mozilla
-webkit-border-radius:2px;		  // Chrome, Safari
border-radius: 2px;
	max-width:70px;
	width: 100%;
	height: 33px;
	display: inline-block;
	margin: 0;
	padding:0 4px;
	background: #fff;
	box-shadow: inset 0 3px 6px 0 rgba(215,215,215,.75);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block:first-child{text-align:left}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block{float:left}

.bx_filter_horizontal .bx_ui_slider_track{
	margin: 15px 10px 10px;
	background: #bbd8e0;
	height: 6px;
	position: relative;
	box-shadow: 0 1px 0 0 rgba(255,255,255,.35), inset 0 1px 1px 0 rgba(0,0,0,.15);
	border-radius: 3px;
}
.bx_filter_horizontal .bx_ui_slider_range{
	background: url(images/range_bg.png);
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.bx_filter_horizontal .bx_ui_slider_handle{
	width: 20px;
	height: 21px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	background: url(images/handle.png) no-repeat center;
}
.bx_filter_horizontal .bx_ui_slider_handle.left {margin-left: -10px}
.bx_filter_horizontal .bx_ui_slider_handle.right{margin-right:-10px}

.bx_filter_horizontal .bx_filter_control_section{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px
}
.bx_filter_horizontal .bx_filter_search_button{
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 10px;
	padding: 0 10px;
	height: 35px;
	border-top:   1px solid #d3dfe2;
	border-right: 1px solid #c6d3d6;
	border-bottom:1px solid #bac6ca;
	border-left:  1px solid #c6d3d6;
	border-radius: 3px;
	background: #f9fafa;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGYxZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fafa), color-stop(100%,#e4f1f5));
	background: -webkit-linear-gradient(top, #f9fafa 0%,#e4f1f5 100%);
	background:    -moz-linear-gradient(top, #f9fafa 0%,#e4f1f5 100%);
	background:     -ms-linear-gradient(top, #f9fafa 0%,#e4f1f5 100%);
	background:      -o-linear-gradient(top, #f9fafa 0%,#e4f1f5 100%);
	background:         linear-gradient(to bottom, #f9fafa 0%,#e4f1f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafa', endColorstr='#e4f1f5',GradientType=0 );
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.11);
	color: #4f4f4f;
	text-decoration: none;
	text-shadow: 0 1px 0 0 rgba(255,255,255,.75);
	font-weight: bold;
	font-size:14px;
	line-height:35px;
}
.bx_filter_horizontal .bx_filter_search_button:hover{
	background: #f9fafa;
}
.bx_filter_horizontal .bx_filter_search_button:active{
	position: relative;
	bottom: -1px;
	background: #e4f1f5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f5), color-stop(100%,#f9fafa));
	background: -webkit-linear-gradient(top, #e4f1f5 0%,#f9fafa 100%);
	background:    -moz-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
	background:     -ms-linear-gradient(top, #e4f1f5 0%,#f9fafa 100%);
	background:      -o-linear-gradient(top, #e4f1f5 0%,#f9fafa 100%);
	background:         linear-gradient(to bottom, #e4f1f5 0%,#f9fafa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f5', endColorstr='#f9fafa',GradientType=0 );
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.08) ;
}
.bx_filter_horizontal .bx_filter_search_button span.icon_lupe{
	display: inline-block;
	margin-right: 5px;
	width: 14px;
	height:15px;
	background: url(images/searchicon.png) no-repeat center;
	vertical-align: middle;
}
.bx_filter_horizontal .bx_filter_popup_result{
	position: static !important;
	display: none;
	height: 33px;
	border-top:   1px solid #c0d6dc;
	border-right: 1px solid #c0d7dd;
	border-bottom:1px solid #c0d6dc;
	border-left:  1px solid #c0d7dd;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	color: #3f3f3f;
	font-weight: normal;
	font-size: 13px;
	line-height: 33px;
	padding: 0 10px;
	z-index: 1100;
}
.bx_filter_horizontal .bx_filter_popup_result a{color: #0073a3}
.bx_filter_horizontal .bx_filter_popup_result a:hover{text-decoration: none}
.bx_filter_horizontal .bx_filter_popup_result_close{display: none}



@media (max-width:750px){
	.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block input{max-width:50px}
}
@media (max-width:640px){
	.bx-touch .bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block input{max-width:70px}
	.bx-touch .bx_filter_horizontal .bx_filter_container{
		width: 50%;
	}
	.bx-touch .bx_filter_horizontal .bx_filter_container:nth-child(4n+2){clear:none}
	.bx-touch .bx_filter_horizontal .bx_filter_container:nth-child(2n+2){clear:both}
}
@media (min-width:640px){
	.bx_filter_horizontal .bx_filter_block{
		/*		display: block  !important;
				opacity: 1 		!important;
				height: auto 	!important;*/
	}
}

@media (max-width:450px){
	.bx-touch .bx_filter_horizontal .bx_filter_container{
		float: none;
		width: 100%;
	}
	.bx-touch .bx_filter_horizontal .bx_filter_container:nth-child(4n+2){clear:none}
	.bx-touch .bx_filter_horizontal .bx_filter_container:nth-child(2n+2){clear:none}



	.bx-touch .bx_filter_horizontal .bx_filter_container 		.bx_filter_block{display:none}
	.bx-touch .bx_filter_horizontal .bx_filter_container.active .bx_filter_block{display:block}

	.bx-touch .bx_filter_horizontal .bx_filter_popup_result{
		position: fixed !important;
		height: auto;
		line-height: 14px;
		font-size: 12px;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		top: auto !important;
		z-index: 1001;
		padding: 10px;
		width: auto;
		border-radius: 0;
		box-shadow: 0 -2px 5px 0 rgba(0,0,0,.1);
	}
	.bx-touch .bx_filter_horizontal .bx_filter_popup_result_close{
		display: block;
		position: absolute;
		width: 22px;
		height: 22px;
		right: 10px;
		top: 50%;
		margin-top: -11px;
		background: url(images/x.png) no-repeat center;
		-webkit-background-size:16px;
		background-size:16px;
	}
}

.bx_filter_horizontal.bx_blue .bx_filter_section {
	background: transparent !important;
	border:none !important;
}

.bx_filter_block {
	margin-left:120px;
	overflow:hidden !important;
	width:147px;
	height:auto !important;
	display: none;
    	border: 2px solid #106799;
    	border-radius: 7px;
    	color: #106799;
   	font-weight: bold;
    	padding: 10px !important;
    	text-transform: uppercase;
	/*height:60px !important;*/
}

.ie8 .bx_filter_block {
	width:157px;	
}