/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/

.owl-theme .owl-controls{
	margin-top: -30px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 6px;
	height: 6px;
	margin: 5px 4px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.9;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
	border:2px solid #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 0.9;
	background: transparent;
	z-index:10000;
	border:2px solid #fff;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	z-index: 100;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

.owl-buttons {
	position: absolute;
	top:50%;
	margin-top:-20px;
	width: 100%;
}

.owl-prev {
	background: url(../images/left.png) center no-repeat !important;	
	width:13px;
	height:40px;
	opacity: 1 !important;
	position: absolute;
	left: 10px;
}
.owl-next {
	background: url(../images/right.png) center no-repeat !important;	
	width:13px;
	height:40px;
	opacity: 1 !important;
	position: absolute;
	right: 10px;
}
.owl-next:hover {
	background: url(../images/right-active.png) center no-repeat !important;	
}
.owl-prev:hover {
	background: url(../images/left-active.png) center no-repeat !important;	
}