.select_form {
margin-top:30px;
}
.form_line {
margin:0 auto;
padding:0 0 10px 20px;
width:380px;
}
label {
padding:0 20px 0 10px;
width:110px;
display:inline-block;
line-height:12px;
}

/*all*/
.outtaHere {
position:absolute;
left:-3000px;
}
span.left, span.center, .selectArea a, .checkboxArea, .checkboxAreaChecked, .radioArea, .radioAreaChecked {
display:inline-block;
*display:inline;
zoom:1;
vertical-align:top;
}

/*select*/
.form_line select {
width:100%;
background:#fff;
}
.selectArea {
margin:0 25px 0 10px;
position:relative;
background:url(../images/select_center.png) repeat-x;
}
a.selectButton, span.left {
height:27px;
position:absolute;
top:0;
}
span.left {
width:10px;
left:-10px;
background:url(../images/select_sprite.png) no-repeat 0 -27px;
}
span.center {
line-height:27px;
}
a.selectButton {
width:100%;
right:-25px;
background:url(../images/down-blue.png) 95% center no-repeat ;
}

/*option*/
.optionsDivVisible {
margin-left:-5px;
}
.select-center {
padding:5px 5px;
background:#fff;
border:1px solid #ccc;
border-top:0;
}
.select-center a {
padding-left:10px;
line-height:18px;
color:#666;
text-decoration:none;
}
.select-center a:hover {
color:#333;
}
.radioArea, .radioAreaChecked, .checkboxArea, .checkboxAreaChecked {
margin-top:4px;
width:15px;
}

/*checkbox*/
.checkboxArea, .checkboxAreaChecked {
height:14px;
}
.checkboxArea {
background:url(../images/radio_sprite.png) no-repeat 0 -22px;
}
.checkboxAreaChecked {
background:url(../images/radio_sprite.png) no-repeat 0 -36px;
}

/*radio*/
.radioArea, .radioAreaChecked {
height:11px;
}
.radioArea {
background:url(../images/radio_sprite.png) no-repeat 0 0px;
}
.radioAreaChecked {
background:url(../images/radio_sprite.png) no-repeat 0 -11px;
}