/* PATCHES */

/* CHECKBOX */

.ui-checkbox--normal {}
.ui-checkbox--normal input {display: none}
.ui-checkbox--normal input + .ui-box {cursor: pointer}
.ui-checkbox--normal input + .ui-box .ui-icon {width: 22px; height: 22px; border: 1px solid var(--border-color)}

.ui-checkbox--normal input + .ui-box .ui-icon:before {
	display: inline-block; vertical-align: middle; width: 6px; height: 10px; margin: -2px 0 0 0; 
	content:''; 
	border-right: 2px solid #333; border-bottom: 2px solid #333; 
	transform: rotate(40deg) scale(0) translateY(3px); transition: transform 0.35s, opacity 0.35s; opacity: 0
}
.ui-checkbox--normal input:checked + .ui-box .ui-icon:before {transform: rotate(40deg) scale(1); opacity: 1;}
.ui-checkbox--normal .ui-text {display: inline-block; vertical-align: middle; margin: 0 0 0 6px} 

.ui-checkbox--normal input:disabled + .ui-box {cursor: default; color: #bbb}
.ui-checkbox--normal input:disabled + .ui-box .ui-icon {background: #f5f5f5}

/* MAIN */

.catalog.catalog-orthoboom {margin: 30px 0 0 0}

@media only screen and (min-width: 992px) {
	.catalog-orthoboom .catalog-row {display: flex; flex-wrap: nowrap}
	.catalog-orthoboom .catalog-filter-side {width: 340px; margin: 0 30px 0 0; flex-basis: 0; flex-shrink: 0}
	.catalog-orthoboom .ui-filter--toggle {display: none}
}
@media only screen and (max-width: 991.98px) {
	.catalog-orthoboom .catalog-row {display: block}
	.catalog-orthoboom .ui-filter--toggle {display: block; margin: 0 0 20px 0}
	.catalog-orthoboom .ui-filter--toggle-action, .catalog-orthoboom .ui-filter--toggle-action:hover {border-radius: 8px}
	.catalog-orthoboom .ui-filter .ui-filter--block {display: none}
	.catalog-main-col h1 {display: none}
}

.catalog .catalog-list__orthoboom .ui-ajax-wrap-loading, .ui-ajax-wrap-loading.catalog-list__orthoboom  {opacity: 0.3}
.catalog .catalog-filter__orthoboom .ui-ajax-wrap-loading {}


/* CATALOG OTHER */

body .bx_sitemap {margin: 20px 0 !important}
body .bx_sitemap_ul li, body .bx_sitemap_ul li *, .sotbit-seometa-tag, .sotbit-seometa-tag * {margin: 0 !important; padding: 0 !important; font-size: 16px !important; color: #4da1d1 !important}

body .bx_sitemap_ul li {display: inline-block; vertical-align: middle; line-height: 100%;}
body .bx_sitemap_ul li a, .sotbit-seometa-tag {
	display: inline-block; vertical-align: middle; line-height: 100%;
	margin: 9px 5px 0 0 !important; padding: 12px 25px !important;
	border: 1px solid #4da1d1; border-radius: 28px
}
body .bx_sitemap_ul li:hover,  body .bx_sitemap_ul li:hover * {border-color: green !important; color: green !important}

body .block-links-filter {margin: 20px 0 !important}
body .block-links-filter h2 {color: #666; margin: 0 0 15px 0; font-size: 19px; font-weight: bold}
.sotbit-seometa-tags-wrapper {display: inline-block; vertical-align: middle;}

/* FILTER */

.catalog-filter__orthoboom {position: relative; margin: 0 0 0 0; color: #000}

.catalog-filter__orthoboom .ui-filter--header {display: none}
.catalog-filter__orthoboom .ui-filter--footer {display: none}
/* .catalog-filter__orthoboom .ui-filter--result {display: none} */

.catalog-filter__orthoboom .ui-filter--result {position: absolute; z-index: 1000; left: 100%; min-width: 230px; margin: 0 0 0 15px; padding: 20px; background: #fff; text-align: center; border: 1px solid #dfdfdf; transform: translateY(-50%)}
.catalog-filter__orthoboom .ui-filter--result .ui-popup-close {position: absolute; top: 1px; right: 5px; cursor: pointer}
.catalog-filter__orthoboom .ui-filter--result-title {margin: 0 0 12px 0}
.catalog-filter__orthoboom .ui-filter--result-content {text-align: center}
.catalog-filter__orthoboom .ui-filter--result-link {
	display: inline-flex; align-items: center; justify-content: center; 
	padding: 6px 15px; background: var(--main-color); color: white; text-decoration: none; 
	border: none; border-radius: 5px; cursor: pointer; transition: 0.225s;
}

@media only screen and (max-width: 991.98px) {
	.catalog-filter__orthoboom .ui-filter--result {position: fixed; z-index: 1000; left: 0; right: 0; bottom: 0; top: auto !important; margin: 0 !important; transform: none !important}
}

.catalog-filter__orthoboom .ui-filter--field-row {margin: 0 0 35px 0}

.catalog-filter__orthoboom .ui-filter--field-title {
	display: inline-block; vertical-align: middle; 
	margin: 0 0 20px 0; padding: 10px 40px; 
	background: #ebebeb; color: #0087cb; font-size: 20px; font-weight: bold;
	border-radius: 15px;
}
.catalog-filter__orthoboom .ui-filter--field-clear {display: none}
.catalog-filter__orthoboom .ui-filter--field-main-col {overflow: hidden;}

.ui-filter--field-main-col-inner {max-height: 265px; overflow-y: auto; padding-right: 11px}
.ui-filter--field-main-col-inner {}


.catalog-filter__orthoboom .ui-filter--field-main-col-inner::-webkit-scrollbar {
	width: 6px;
}
 
.catalog-filter__orthoboom .ui-filter--field-main-col-inner::-webkit-scrollbar-track {
	background: #eee;
	border-radius: 10px;
	border: solid 3px transparent !important;
}
 
.catalog-filter__orthoboom .ui-filter--field-main-col-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background: #999;
	
	border: solid 3px transparent !important;
}




/* FILTER FIELDS */

.catalog-filter__orthoboom .ui-checkbox--normal {display: block;}
.catalog-filter__orthoboom .ui-checkbox--normal .ui-box {display: block;}
.catalog-filter__orthoboom .ui-checkbox--normal .ui-box {cursor: pointer}

.catalog-filter__orthoboom .ui-checkbox--normal .ui-box {display: flex; align-items: center}
.catalog-filter__orthoboom .ui-checkbox--normal .ui-icon {flex-shrink: 0}
.catalog-filter__orthoboom .ui-checkbox--normal .ui-text {flex-grow: 1}
.catalog-filter__orthoboom .ui-checkbox--normal .ui-value {margin: 0 0 0 6px; color: #999}

.catalog-filter__orthoboom .ui-option-item {margin: 0 0 8px 0}


body .ui-checkbox--normal {margin: 0; padding: 0; color: #000}
body .ui-checkbox--normal input + .ui-box .ui-checkbox--icon {width: 22px; height: 22px; margin: 0 8px 0 0; background: #f4f4f3; border: 1px solid #dfdfdf; border-radius: 6px}
body .ui-checkbox--normal input + .ui-box .ui-checkbox--icon {box-shadow: inset 0 0 1px 1px #fff}
body .ui-checkbox--normal:hover input + .ui-box .ui-checkbox--icon {background: #e9e9e9}

.field-code-property_obuv_razmer .ui-option-item {display: inline-block; vertical-align: middle; margin: 0 2px 5px 0}
body .ui-checkbox--box {margin: 0; padding: 0; color: #000}
body .ui-checkbox--box .ui-box {
	display: inline-flex; align-items: center; justify-content: center;
	min-width: 40px; min-height: 40px;
	background: #f4f4f3; border: 1px solid #dfdfdf; border-radius: 6px; cursor: pointer;
}
body .ui-checkbox--box:hover .ui-box {background: #e9e9e9}

body .ui-checkbox--box .ui-value {display: none}
body .ui-checkbox--box input {display: none}
body .ui-checkbox--box input:checked + .ui-box {background: #0087cb; color: #fff; border-color: #0087cb}
body .ui-checkbox--box input:disabled + .ui-box {background: #f4f4f3; color: #aaa}



body .ui-checkbox--box-2 {margin: 0; padding: 0; color: #000}






/****** SLIDER CONTROL ******/

.ui-slider {position: relative; margin: 15px 0; text-align: left;}


.ui-slider {background: #f6f6f6}

.ui-slider .ui-widget-header {background:#fff}

.ui-slider-horizontal {height: 10px; cursor: pointer}

html body .ui-slider .ui-slider-handle {
	position: absolute; top: 0; bottom: 0; 
	display: flex; align-items: center; justify-content: center;
	width: 23px; height: 23px; margin-top: auto; margin-bottom: auto;
	background: white; border: #dfdfdf solid 3px; border-radius:18px;
}

.catalog-filter__orthoboom .ui-slider {margin: 15px 0 15px 0; max-width: 95%}

.ui-range-field--normal {}
.ui-range-field--normal .ui-range-field--flex {display: flex; width: auto; margin: 0 -6px; text-align:center; align-items: center; justify-content: center;}
.ui-range-field--normal .ui-range-field--flex > * {margin: 0 6px}
.ui-range-field--normal .ui-range-field--flex input[type=text] {display: flex; flex-grow: 1; width: 70px; border: 1px solid #dcdcdb; background: #f4f4f3; border-radius: 5px; text-align: center; color: #333; height: 36px}
.ui-range-field--normal .ui-range-field--flex .ui-measure:empty {display: none}


.ui-range-field--normal .ui-range-field--min-title {text-align: left;}
.ui-range-field--normal .ui-range-field--max-title {text-align: center;}
.ui-range-field--normal .ui-range-field--measure {text-align: right}
.ui-range-field--normal > .ui-range-field--input {flex-grow: 1}


/* --- */

.catalog-filter__orthoboom--outer  .ui-filter--tags-wrap {margin: 0 0 20px 0}
.catalog-filter__orthoboom--outer  .ui-filter--tags {display: flex; flex-wrap: wrap; margin: -12px}
.catalog-filter__orthoboom--outer  .ui-filter--tag {margin: 12px; display: inline-flex; align-items: center; justify-content: center; vertical-align: middle; height: 36px; padding: 0 6px 0 18px; background: #ebebeb; border-radius: 18px}
.catalog-filter__orthoboom--outer  .ui-filter--tag:hover {background: #e9e9e9}

.catalog-filter__orthoboom--outer  .ui-filter--tag-clear {display: inline-flex; align-items: center; justify-content: center; width: 26px; height: 26px; margin: 0 0 0 12px; background: #cccccc; border-radius: 13px; cursor: pointer}

.catalog-filter__orthoboom--outer  .ui-filter--tag-clear-icon {position: relative; width: 16px; height: 16px; display: inline-block}
.catalog-filter__orthoboom--outer  .ui-filter--tag-clear-icon:before, .catalog-filter__orthoboom--outer  .ui-filter--tag-clear-icon:after {
	position: absolute; top: 50%; left: 10%; content:''; display: block; width: 80%; margin: -1px 0 0 0; height: 2px; background: #fff; transform-origin: center center; 
}
.catalog-filter__orthoboom--outer  .ui-filter--tag-clear-icon:before {transform: rotate(45deg); }
.catalog-filter__orthoboom--outer  .ui-filter--tag-clear-icon:after {transform: rotate(-45deg);}


/* VIEW */

.catalog-view__orthoboom {margin: 20px 0 30px 0}
.catalog-view__orthoboom .catalog-view--order-title {display: inline-flex; vertical-align: middle;}
.catalog-view__orthoboom .catalog-view--links {display: inline-flex; vertical-align: middle; flex-wrap: wrap; margin: -2px -8px; margin-left: 0}
.catalog-view__orthoboom .catalog-view--link {margin: 2px 8px; color: black}
.catalog-view__orthoboom .catalog-view--link:hover {color: #c6007a;}
.catalog-view__orthoboom .catalog-view--link.active {color: #c6007a;}

@media only screen and (max-width: 991.98px) {
	.catalog-view--order-title {display: block; margin-bottom: 8px}
}

/* BASE */

.catalog-list__orthoboom .catalog-list--fav-button, .catalog-detail__orthoboom .catalog-detail--fav-button {
	cursor: pointer; width: 32px; height: 32px; background-image: url(../catalog_images/fav.svg); margin: 0 12px 0 0;
}
.catalog-list__orthoboom .fav-set .catalog-list--fav-button, .catalog-detail__orthoboom .fav-set .catalog-detail--fav-button, .catalog-list__orthoboom .catalog-list--fav-button-active {
	background-image: url(../catalog_images/fav-active.svg)
}

/* LIST */

.catalog-list__orthoboom .catalog-list {margin: 0 0 30px 0}
.catalog-list__orthoboom .catalog-list--items {display: flex; flex-wrap: wrap; margin: -12px -16px}
.catalog-list__orthoboom .catalog-list--items > * {margin: 12px 16px; flex-grow: 1;}

.catalog-list__orthoboom .catalog-list--item {position: relative; width: 225px; }

.catalog-list__orthoboom .catalog-list--inner {display: flex; width: 100%; flex-direction: column; flex-grow: 1; min-height: 100%;}

.catalog-list__orthoboom .catalog-list--inner {position: relative; padding: 10px; background: #fff; border: 1px solid #eeeeee; border-radius: 15px; transition: box-shadow 0.25s}
@media only screen and (min-width: 992px) {
	.catalog-list__orthoboom .catalog-list--item:hover .catalog-list--inner {
		z-index: 200; width: calc(100% + 90px); min-height: 330px; margin-left: -80px; margin-right: -10px; padding-left: calc(80px + 10px); padding-right: calc(10px + 10px); 
		background: #fff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25)
	}
}
.catalog-list__orthoboom .catalog-list--thumbnails-wrap {z-index: -1; overflow: hidden; position: absolute; top: 15px; left: 15px; width: 64px; height: 310px; opacity: 0; transition: opacity 0.25s} /*  bottom: 15px; */
@media only screen and (min-width: 992px) {
	.catalog-list__orthoboom .catalog-list--item:hover .catalog-list--thumbnails-wrap {z-index: 1; opacity: 1;}
}
.catalog-list__orthoboom .catalog-list--thumbnail {display: inline-block; vertical-align: middle; width: 64px; height: 64px;} /* margin: 0 0 15px 0;  */
.catalog-list__orthoboom .catalog-list--thumbnail img {width: auto; height: auto; max-width: 100%; max-height: 100%}




.catalog-list__orthoboom .catalog-list--marks {position: absolute; right: 0; top: 0; z-index: 10}
.catalog-list__orthoboom .catalog-list--mark {display: block; padding: 3px 5px; min-width: 70px; text-align: center; background: #c6007a; font-size: 15px; font-weight: bold; color: #fff; border-radius: 10px}
.catalog-list__orthoboom .catalog-list--mark-sale {background: #c6007a;}
.catalog-list__orthoboom .catalog-list--mark-novelty {background: #bbcc22;}
.catalog-list__orthoboom .catalog-list--mark-hit {background: #00a9c6;}

.catalog-list__orthoboom .catalog-list--flex {display: flex; flex-direction: column; flex-grow: 1; margin: -8px; padding: 15px;}
.catalog-list__orthoboom .catalog-list--flex > * {margin: 8px;}

.catalog-list__orthoboom .catalog-list--pictures-wrap {height: 170px; overflow: hidden}
.catalog-list__orthoboom .catalog-list--pictures {}
.catalog-list__orthoboom .catalog-list--picture {text-align: center; background: white}
.catalog-list__orthoboom .catalog-list--picture img {width: auto !important; height: auto; max-width: 100%; max-height: 170px;}
/*
.catalog-list__orthoboom .catalog-list--item img {transition: 0.25s ease-out}
.catalog-list__orthoboom .catalog-list--item:hover .catalog-list--picture img {transform: scale(1.11);}
*/
.catalog-list__orthoboom .catalog-list--main-col {display: flex; flex-direction: column; margin: -8px; flex-grow: 1;}
.catalog-list__orthoboom .catalog-list--main-col > * {margin: 8px}

.catalog-list__orthoboom .catalog-list--title {text-align: center}
.catalog-list__orthoboom .catalog-list--title a {color: inherit;}
.catalog-list__orthoboom .catalog-list--title a:hover {color: inherit; text-decoration: underline}

.catalog-list__orthoboom .catalog-list--properties {}

.catalog-list__orthoboom .catalog-list--grow {flex-grow: 1; margin: 0 !important; padding: 0 !important}

.catalog-list__orthoboom .catalog-list--price {text-align: center}
.catalog-list__orthoboom .catalog-list--price {color: #c6007a; font-size: 22px; font-weight: bold}
.catalog-list__orthoboom .catalog-list--price .ui-price--old-value {display: block; font-size: 17px; color: #8e8e8e; text-decoration: line-through}

.catalog-list--sku-modal--offers {display: flex; margin: -3px; flex-wrap: wrap}
.catalog-list--sku-modal--offers > * {}

.catalog-list--offers-title {margin: 0 0 12px 0}
.catalog-list--sku-modal--offers .ui-box {background-color: #ebf7fe; min-width: 37px; margin: 3px; padding: 6px; text-align: center; border-radius: 3px; cursor: pointer; font-size: 14px; color: #777;}
.catalog-list--sku-modal--offers input:checked + .ui-box {background-color: #65acf1; color: white;}

.catalog-list--sku-modal--offers input, .catalog-list--sku-modal--offers .ui-icon {display: none}



@media only screen and (min-width: 992px) {
	.catalog-list__orthoboom .catalog-list--sku-block {display: none;}
	.catalog-list__orthoboom .catalog-list--item:hover .catalog-list--sku-block {display: block}
}

/*
.catalog-list__orthoboom .catalog-list--sku-block {color: #565656; background: #ebebeb; padding: 10px; font-size: 14px; text-align: center}
.catalog-list__orthoboom .catalog-list--sku-title {margin: 0 0 4px 0; }
*/

@media only screen and (min-width: 992px) {
	.catalog-list__orthoboom .catalog-list--buy {display: none}
	.catalog-list__orthoboom .catalog-list--item:hover .catalog-list--buy {display: block}
}

.catalog-list__orthoboom .catalog-list--buy-button {display: inline-block; vertical-align: middle; padding: 8px 20px; border: 1px solid #2686c2; border-radius: 7px; color: #2686c2; font-weight: bold; font-size: 14px; cursor: pointer; transition: 0.2s}
.catalog-list__orthoboom .catalog-list--buy-button:hover {background: #2686c2; color: #fff}

/*
.catalog-list__orthoboom .catalog-list--sku-modal .ui-modal-inner {height: auto}
.catalog-list__orthoboom .catalog-list--sku-modal--title {text-align: center; font-size: 20px; font-weight: bold; color: #565656; margin: 0 0 12px 0}
.catalog-list__orthoboom .catalog-list--sku-modal--offers {display: flex; flex-wrap: wrap; margin: -3px; justify-content: center;}
.catalog-list__orthoboom .catalog-list--sku-modal--offers > * {margin: 3px}
*/
.catalog-list__orthoboom .catalog-list--sku-modal--buy {margin: 12px 0 0 0; text-align: center;}
.catalog-list__orthoboom .catalog-list--sku-modal--buy-button {display: inline-block; vertical-align: middle; padding: 8px 20px; border: 1px solid #2686c2; border-radius: 7px; color: #2686c2; font-weight: bold; font-size: 14px; cursor: pointer; transition: 0.2s}
.catalog-list__orthoboom .catalog-list--sku-modal--buy-button:hover {background: #2686c2; color: #fff}

.catalog-list__orthoboom .catalog-list--buy-modal .ui-modal-inner {width: 240px; height: auto; min-height: 0}
.catalog-list__orthoboom .catalog-list--buy-modal-order-button {display: block; vertical-align: middle ;background: #2686c2; margin: 0 0 12px 0; padding: 8px 20px; text-align: center; border: 1px solid #2686c2; border-radius: 7px; color: #fff; font-weight: bold; font-size: 14px; cursor: pointer; transition: 0.2s}
.catalog-list__orthoboom .catalog-list--buy-modal-catalog-button {display: block; vertical-align: middle; background: #fff; padding: 8px 20px; text-align: center; border: 1px solid #2686c2; border-radius: 7px; color: #2686c2; font-weight: bold; font-size: 14px; cursor: pointer; transition: 0.2s}

@media only screen and (max-width: 991.98px) {
	.catalog-list__orthoboom .catalog-list--buy {text-align: center}
	.catalog-list__orthoboom .catalog-list--buy-button {background: #2686c2; color: #fff}
	.catalog-list__orthoboom .catalog-list--sku-modal--buy-button {background: #2686c2; color: #fff}
}

/* NAV */

.ui-pagination__orthoboom {margin: 40px 0 0 0;}

.ui-pagination__orthoboom .ui-pagination--items {text-align: center; display: flex; justify-content: center;	}

.ui-pagination__orthoboom .ui-pagination--item {
	display: inline-flex; vertical-align: middle; align-items: center; justify-content: center;	
	min-width: 36px; min-height: 36px; margin: 0 0px; padding: 0 12px;
	margin: 0 1px; font-size: 18px; font-weight: bold;
	border-radius: 6px; transition: 0.25s;
}
.ui-pagination__orthoboom .ui-pagination--item.active, .ui-pagination__orthoboom .ui-pagination--item:not(.disabled):hover {background: #0087cb; color: #fff;}
.ui-pagination__orthoboom .ui-pagination--item.disabled {color: #aaa; cursor: default}
.ui-pagination__orthoboom .ui-pagination--special-item {font-size: 17px}

.ui-pagination__orthoboom .ui-pagination--more {margin: 0 0 20px 0; text-align: center}
.ui-pagination__orthoboom .ui-pagination--more-link {display: inline-block; vertical-align: middle; padding: 10px 20px; font-size: 17px; font-weight: bold; border: 1px solid #2686c2; border-radius: 7px; color: #2686c2; cursor: pointer; transition: 0.2s}
.ui-pagination__orthoboom .ui-pagination--more-link:hover {background: #2686c2; color: #fff}
.ui-pagination__orthoboom .ui-pagination--more-link.disabled {display: none}

@media only screen and (max-width: 991.98px) {
	.ui-pagination__orthoboom .ui-pagination--items {flex-wrap: wrap}
	.ui-pagination__orthoboom .ui-pagination--special-item {display: none}
}


.sotbit-seometa-tag:hover, .sotbit-seometa-tag:hover *{
	background: #4da1d1;
	border: 1px solid #4da1d1;
	color:#fff!important;
	cursor:pointer;
}

.block-links-filter .link_open_hide{
display:inline-block;
vertical-align: middle;
padding-top:10px;
color:green;

}

.block-links-filter .link_open_hide:hover{
text-decoration:underline;
cursor:pointer;
}