


.index-banners {display: flex; margin: -5px; margin-top: 10px}
.index-banners > * {padding: 10px; min-width: 270px; }
.index-banners img {width: auto; height: auto; max-width: 100%}
.index-banners-small-items {display: flex; flex-wrap: wrap}
.index-banners-small-items > * {margin: 0px 0; text-align: center}

.index-banners-big-item {flex-grow: 1; flex-shrink: 0; min-width: 40%; display: flex; align-items: center; justify-content: center}
.index-banners-big-item > a {width: 100%}
.index-banners-big-item img {width: 100%}

@media only screen and (min-width: 1360px) {
	.index-banners-small-items {flex-direction: column; justify-content: space-between}
	
	.index-banners-small-items {margin: -5px}
	.index-banners-small-items > * {margin: 5px}
	
	.index-banners-big-item {width: 795px !important}
	
	.swiper-container {width: 100%; max-width: 100%}
	.swiper-container .swiper-slide {width: 795px}	
	.swiper-container img {width: 795px !important}	
	
}
@media only screen and (max-width: 1359.98px) {
	.index-banners {flex-wrap: wrap;}
	.index-banners-big-item {order: -1; flex-shrink: 1}
	
	.index-banners {margin: -5px 0;  margin-top: 20px}
	.index-banners > * {padding: 5px 0}
		
	
	
	
	
	.index-banners-small-items {max-width: 50%; flex-grow: 1; justify-content: space-between; flex-wrap: nowrap !important}
	.index-banners-small-items > * {flex-basis: 50%; margin: 0; }
}
@media only screen and (max-width: 899.98px) {
	.index-banners-small-items {max-width: unset}
}

.index-feature {margin: 10px 0 20px; font-size: 14px}
.index-feature-items {display: flex; flex-wrap: wrap; margin: -10px; align-items: center}
.index-feature-items > * {padding: 10px; flex: 1; flex-basis: 225px}
.index-feature-items > *:hover img {filter: brightness(125%);}

.index-feature-items > * {cursor: default; color: inherit}
.index-feature-items > *[href] {cursor: pointer}

.index-feature-items-flex {display: flex; margin: -7px; align-items: center}
.index-feature-items-flex > * {padding: 7px}

.index-feature-items-flex > .ui-picture-col {flex-shrink: 0}
.index-feature-items-flex > .ui-main-col {flex-grow: 1}
.index-feature-items-flex img {width: auto; height: auto; max-width: 100%; transition: all 0.3s}

.index-preca {margin: 0 0 23px 0}










.index-info {margin: 0 0 23px 0}
.index-tabs.ui-tab {margin: 0 0 22px 0}
.index-tabs .ui-tab-item {width: 284px}




@media only screen and (max-width: 767.98px) {
	.index-feature {margin: 35px 0 15px}
	
	.ui-tab--rounded .ui-tab-item {height: 32px; font-size: 18px; width: auto; border-radius: 7px}
}










.picture-list .items {display: flex; flex-wrap: wrap; margin: -17px}
.picture-list .items > * {width: 360px; padding: 17px; flex-grow: 1;}

@media only screen and (max-width: 991.98px) {
	.picture-list .items {margin: -11px}
	.picture-list .items > * {width: 285px; padding: 11px;}
}


.video-list .items {display: flex; flex-wrap: wrap; margin: -8px -17px}
.video-list .items > * {width: 400px; max-width: 100%; padding: 8px 17px; flex-grow: 1;}

.video-list iframe {width: 100%; min-height: 280px}

.preca-list {}
.preca-items {display: flex; flex-wrap: wrap; margin: -8px -18px; overflow-x: hidden}
.preca-items > * {display: flex; flex-direction: column; }
.preca-items > * {flex-grow: 1; width: 210px; /* max-width: calc(100% - 44px); */ margin: 8px 18px; padding: 22px; background: white; border: 1px solid #c7c9c9; text-decoration: none !important; color: inherit !important}
.preca-items > *:hover {border-color: var(--main-color);}
.preca-items-flex {display: flex; flex-direction: column; height: 100%}
.preca-items-picture-col {min-height: 175px; margin: 0 0 5px 0; text-align: center; display: flex; flex-direction: column; justify-content: center}
.preca-items-main-col {flex-grow: 1; text-align: center; display: flex; flex-direction: column;}

.preca-items img {width: auto; height: auto; max-width: 100%; max-height: 175px}
.preca-items-article {line-height: 100%; font-size: 14px;}
.preca-items-article-value {margin: 1px 0 12px 0; font-size: 14px; font-weight: bold}

.preca-items-price {display: block; margin: 6px 0 12px 0; color: #ec008c; font-weight: bold}
.preca-items-price .ui-price-old-value {color: #000; text-decoration: line-through; font-size: 93%; vertical-align: top; margin: 2px 4px 0 0}
.preca-items-price .ui-price-old-value > .ui-text {color: #939598; }

.preca-items-title {margin: 0 0 12px 0; font-weight: bold; font-size: 15px}

.preca-items-grow {flex-grow: 1}

.preca-items-detail {}
.preca-items-detail-link {}

@media only screen and (max-width: 991.98px) {
	.preca-items {margin: -6px}
	.preca-items > * {margin: 6px}
}




.ui-tab--rounded {}
.ui-tab--rounded .ui-tab-items {display: flex; flex-wrap: wrap; margin: -2px}
.ui-tab--rounded .ui-tab-item {
	display: inline-flex; align-items: center; justify-content: center; 
	min-height: 50px;  height: auto; margin: 2px; padding: 5px 15px; 
	background: #d9dada; color: #1786c4; text-align: center; 
	text-decoration: none; font-size: 22px; font-weight: bold; 
	border-radius: 18px; 
	cursor: pointer; transition: background ease-out 0.2s
}
.ui-tab--rounded .ui-tab-item.active, .ui-tab--rounded .ui-tab-item:hover {background: #1786c4; color: #fff;}

@media only screen and (max-width: 767.98px) {
	.ui-tab--rounded .ui-tab-item {min-height: unset; height: auto; min-width: 155px; padding: 9px 15px; font-size: 18px; border-radius: 8px}
}

.ui-tab-content {transition: all 0.15s;}
.ui-tab-content {visibility: visible; opacity: 1;}
.ui-tab-content.show {visibility: visible; opacity: 1;}
.ui-tab-content.hiding, .ui-tab-content.hide {visibility: hidden; opacity: 0;}
.ui-tab-content.hide {position: absolute;}




.index-text {margin: 30px 0 0 0; font-size: 19px}
.index-text h2 {margin: 0 0 18px 0; font-size: 22px; font-weight: bold}



.sp-control-label strong {display: none}