html {font-size: 16px}

body {display: flex; flex-direction: column}
body > main {flex-grow: 1}

body {position: relative; margin: 0; padding: 0}
body {max-width: 100vw; overflow-x: hidden}
/*
html { max-width: 100%; max-height: 100vh; overflow-x: hidden; min-height: 100vh; margin: 0; padding: 0; box-sizing: border-box}
*/


html {position: relative;}
body {position: relative; max-width: 100vw; overflow-x: hidden}
body > * {position: relative; max-width: 100vw; overflow-x: hidden; overflow-y: hidden}

footer {}
/*html { max-width: 100vw; overflow-x: hidden}
body > header, body > footer, body > main {position: relative; max-width: 100vw; overflow-x: hidden; }
body > header, body > footer, body > main {position: relative; max-width: 100vw; overflow-x: hidden; }
body > header, body > footer, body > main {max-width: 100vw; overflow-x: hidden; overflow-y: auto}
*/

html body {background: #fff; color: #000; font-family: Arial; font-size: 16px; line-height: 1.25}


header {background: #fff; color: #787678}
header a {color: inherit}



.header-top {display: block; height: auto; margin-bottom: 2px; padding: 0px 0 10px 0; border-bottom: 1px solid #c3c4c4;}
.header-top-2 {margin-top: 3px; height: 0; border-bottom: 1px solid #c3c4c4}

.header-top-container {position: relative;} 

.header-top-row {margin: 20px 0 0 0; display: flex}

.header-location {margin: -1px 39px 0 0}
.header-location-text {border-bottom: 2px dotted #1f88c2; cursor: pointer}

.header-location-popup {position: absolute; top: 100%; left: 0; width: 286px; margin: 10px 0 0 12px; padding: 22px 33px; background: #fff; font-size: 14px; border: 1px solid #c3c4c4; border-radius: 9px}
.header-location-popup-main {}

.header-location-popup-footer {margin: 16px 0 0 0; text-align: center}
.header-location-button {display: inline-block; padding: 12px 30px; min-width: 76px; margin: 0 4px; text-align: center; font-weight: bold; border-radius: 8px; cursor: pointer}
.header-location-yes {background: #c9007b; color: #fff}
.header-location-no {background: #e2e2e2; color: #666}
.header-location-button:hover {filter: brightness(105%)}

body .location-modal .ui-modal-inner {width: 600px; min-height: 420px; padding: 20px 43px}
body .location-modal .ui-modal-header {background: none; border: none; padding: 0; min-height: 0}
body .location-modal .ui-modal-title {text-align: center; padding: 0px 0 16px 0; border-bottom: 1px solid #c8c8c8}
body .location-modal .ui-modal-close {position: absolute; top: 5px; right: 5px; color: #888}
body .location-modal .ui-modal-main {padding: 12px 0 0 0;}
.location-modal-title {margin: 0 0 14px 0; text-align: center; font-weight: bold}


.location-modal-list {margin: 20px 0 0 0}
.location-modal-items {column-count: 3}
.location-modal-item {display: block; margin: 0 0 8px 0; color: #1786c4; cursor: pointer}
.location-modal-item a {color: inherit}

body .bx-sls .dropdown-block {height: 35px; padding-left: 10px; background: #f4f4f3; border-radius: 5px}
body .bx-sls .dropdown-icon {display: none}
body .bx-sls .dropdown-fade2white {display: none}
body .bx-sls .bx-ui-sls-pane {max-height: 250px}

body.mobile-menu-opened {
	overflow: hidden;
}



.header-top-menu {}
.header-top-menu .menu-items {display: flex; margin: -15px}
.header-top-menu .menu-items > * {margin: 15px}
.header-top-menu a {color: #787678}
.header-top-menu a:hover {color: #787678}

.header-top-user {white-space: nowrap}
.header-top-user a:hover, .header-top-user a:focus {color: #787678}
.header-login-icon {width: 20px; height: 22px; margin: -4px 8px 0 0; background-image: url(../img/header-login.png);}




.header-main-row {display: flex; height: calc(86px + 60px); margin: -30px; align-items: center;}
.header-main-row > * {flex-grow: 1; margin: 30px; }

.header-menu-col {display: none}

.header-phone-col {}
.header-phone-text {font-size: 20px; font-weight: bold; color: #000000; white-space: nowrap}
.header-phone-icon {width: 20px; height: 20px; margin: -2px 17px 0 0; background-image: url(../img/header-phone.png)}
.header-phone-additional {margin: 2px 0 0 30px; font-size: 12px; text-align: center; }

.header-callback-col {flex-grow: 6}
.header-callback-link {color: #666; font-size: 14px; border-bottom: 2px dotted #787678}
.header-callback-link:hover {color: #999; border-bottom-color: #999; text-decoration: none}

.header-logo-col {text-align: center}
.header-logo-col .header-logo {display: flex; justify-content: center}
.header-logo-col .header-search {display: none;}

@media only screen and (max-width: 991px) {
	body.mobile-menu-opened .header-logo-col .header-search {
		display: flex;
	}

	body.mobile-menu-opened .header-logo-col .header-logo {
		display: none;
	}
}

.header-search {position: relative; display: flex;}
.header-search input[type=text] {flex-grow: 1; width: 206px; padding: 0 38px 2px 18px; border: none; border-bottom: 2px solid #1786c4}
.header-search input[type=submit] {position: absolute; bottom: 6px; right: 18px; width: 20px; height: 18px; background-color: transparent; background-image: url(../img/header-search.png); border: none; cursor: pointer}

.header-cart-col-flex {display: inline-flex; margin: -11px}
.header-cart-col-flex > * {margin: 11px}

.header-fav-icon {position: relative; width: 30px; height: 27px; background-image: url(../img/header-fav.png);}
.header-fav-icon.disabled {position: relative; width: 30px; height: 27px; background-image: url(../img/header-fav-disabled.png);}
.header-cart-icon {position: relative; width: 30px; height: 27px; background-image: url(../img/header-cart.png);}

.header-fav-count, .header-cart-count {
	position: absolute; top: -2px; right: -4px;
	display: inline-flex; align-items: center; justify-content: center; 
	width: 1px; height: 1px;
	background: #808284; color: #ffffff; font-size: 14px;
	border: 7px solid #808284; border-radius: 7px;
}
.header-fav-count:empty, .header-cart-count:empty {display: none}

.header-cart-count {background: #1f88c2}

.header-cart-text {position: relative; top: -3px; line-height: 100%; font-size: 14px;}
.header-cart-title {margin: 0 0 2px 0; color: #1786c4; font-weight: bold; }
a.header-cart-text:hover {text-decoration: none}



@media only screen and (min-width: 992px) {
	.header-cart-col {flex-grow: 0}
}
@media only screen and (max-width: 1340px) {
	
	.header-main-row {margin: -12px; height: auto;}
	.header-main-row > * {margin: 12px; padding: 10px 0}

	.header-logo-col {flex-grow: 6}
	
	.header-search input[type=text] {width: 140px; padding-left: 7px}
	.header-search input[type=submit] {right: 7px}
}

/*
.header-main-menu-wrap {display: flex; background: #1786c4; color: #fff}
.header-main-menu {}
.header-main-menu .menu-items {display: flex; justify-content: space-between}
.header-main-menu .menu-item {display: inline-flex; height: 56px; }
.header-main-menu .menu-item a {display: flex; flex-grow: 1; align-items: center; color: inherit; padding: 0 25px; transition: 0.4s all}
.header-main-menu .menu-item:hover a {color: inherit; background: #6aa6c7}
.header-main-menu .menu-item:hover a {text-decoration: none}
.header-main-menu .menu-item.level-1:first-child a {margin-left: -20px}
.header-main-menu .menu-item.level-1:last-child a {margin-right: -20px}
*/

.header-main-menu-wrap {display: flex; background: #1786c4; color: #fff}
.header-main-menu-wrap .menu-items.level-1.menu-items--only-mobile {display: none;}
.header-main-menu {}
.header-main-menu .menu-items {display: flex; flex-direction: column}
.header-main-menu .menu-items.level-2 {display: block; -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; margin-bottom: -15px;}
.header-main-menu .menu-items.level-2 .menu-item {display: block; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; break-inside: avoid-column;}
.header-main-menu .menu-items.level-1 {display: flex; flex-direction: row; justify-content: space-between}
.header-main-menu .menu-item {display: inline-flex; position: relative}
.header-main-menu .menu-item.level-1 {height: 56px; }
.header-main-menu .menu-item.level-1>a {display: flex; flex-grow: 1; align-items: center; color: inherit; padding: 0 25px; transition: 0.4s all}
.header-main-menu .menu-item.level-1:hover>a {color: inherit; background: #6aa6c7; text-decoration: none}
.header-main-menu .menu-item.level-1:first-child>a {margin-left: -20px}
.header-main-menu .menu-item.level-1:last-child>a {margin-right: -20px}
.header-main-menu .menu-item.level-1:first-child .menu-sub.level-2 {left: -20px}
.header-main-menu .menu-item.level-1:last-child .menu-sub.level-2 {left: auto; right: -20px;}

/* level 2 */
.header-main-menu .menu-item.level-1 .menu-sub.level-2 {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	border: 1px solid #b1b2b3;
	border-top: none;
	padding: 30px 40px;
	z-index: 20;
	border-radius: 10px;
}
.header-main-menu .menu-item.level-1:hover .menu-sub.level-2 {
	display: flex;
	align-items: flex-start;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 {
	padding-bottom: 15px;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 a {
	color: #7d7c7f;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 a:hover {
	color: #50a4d3;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 > a > span {
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2:hover > a > span  {
	border-bottom: 2px solid #50a4d3;
	color: #50a4d3;
}

/* level 3 */
.header-main-menu .menu-item.level-1 .menu-item.level-2 .menu-sub.level-3 {
	display: block;
	overflow: hidden;
	margin-top: 5px;
	padding-top: 10px;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 .menu-item.level-3 {
	padding-left: 30px;
	margin-bottom: 10px;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 .menu-item.level-3:before {
	content: '';
	position: absolute;
	display: block;
	width: 18px;
	height: 2px;
	background: #b1b2b3;
	bottom: 50%;
	left: 5px;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 .menu-item.level-3:after {
	content: '';
	position: absolute;
	display: block;
	width: 2px;
	height: 300px;
	background: #b1b2b3;
	bottom: 50%;
	left: 5px;
}
.header-main-menu .menu-item.level-1 .menu-item.level-2 .menu-item.level-3:last-child {
	margin-bottom: 0;
}

/* menu-product */
.header-main-menu .menu-product {
	width: 330px;
	min-height: 180px;
	box-sizing: border-box;
	padding: 20px 25px 15px;
	border: 2px solid #b5d8ec;
	color: #000;
	border-radius: 10px;
	margin-left: 35px;
	display: flex;
}
.header-main-menu .menu-product__image {
	box-sizing: border-box;
	flex: 0 0 150px;
	padding: 0 12px;
}
.header-main-menu .menu-product__image img {
	display: block;
	max-width: 100%;
}
.header-main-menu .menu-product__content {
	box-sizing: border-box;
	flex: 1;
	position: relative;
	padding: 0 12px;
	font-size: 14px
}
.header-main-menu .menu-product__content .menu-product__title {;
	color: #7d7c7f;
	margin-bottom: 15px;
}
.header-main-menu .menu-product__content .menu-product__button {
	color: #fff;
	font-weight: bold;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	background: #1786c4;
	border-radius: 5px;
}




body .header-menu-icon {display: inline-block; width: 40px; height: 40px; padding: 8px; padding-left: 0; cursor: pointer}
.header-menu-icon-line {display: block; width: 100%; height: 3px; background: #000}
.header-menu-icon-line-2 {margin: 6px 0}
	
.header-mob-menu {position: absolute; top: 100%; left: 0; right: 0; margin: 1px 0 0 0; background: #fff; font-size: 17px; color: #000; overflow-y: auto; transition: height 0.3s}
.header-mob-menu .menu-item .menu-item-link {display: flex; justify-content: space-between; align-items: center; padding: 10px 15px; border-bottom: 1px solid #ddd; cursor: pointer}
.header-mob-menu .menu-item .menu-item-link .icon-angle-right {margin-left: 15px;}
.header-mob-menu .menu-item .menu-item-link:hover, .header-mob-menu .menu-item .menu-item-link:focus {background: #f5f5f5; color: inherit; text-decoration: none}
.header-mob-menu .menu-item .menu-sub .menu-sub__back {
	display: flex;
	padding: 10px 15px;
	border-bottom: 3px solid #ddd;
	cursor: pointer;
	align-items: center;
	font-weight: bold;
}
.header-mob-menu .menu-item .menu-sub .menu-sub__back .menu-sub__back-icon {
	margin-right: 15px;
}
.header-mob-menu .menu-item .menu-sub .menu-sub__back .menu-sub__back-icon:before {
	font-size: 25px;
	font-weight: bold;
}
.header-mob-menu .menu-sub.level-2, .header-mob-menu .menu-sub.level-3, .header-mob-menu .menu-sub.level-4{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
.header-mob-menu .menu-sub.level-2 {
	z-index: 2;
}
.header-mob-menu .menu-sub.level-3 {
	z-index: 3;
}
.header-mob-menu .menu-sub.level-4 {
	z-index: 4;
}
.header-mob-menu .menu-sub.level-2.active, .header-mob-menu .menu-sub.level-3.active, .header-mob-menu .menu-sub.level-4.active {
	display: block;
}

.mob-po-bottom-text {margin: 20px 0 0 0}
.mob-po-bottom-phone {font-size: 20px; font-weight: bold}
.mob-po-bottom-phone .header-phone-icon {margin: -4px 4px 0 0}
.mob-po-bottom-additional {margin: 10px 0 30px 0; font-size: 15px}
@media only screen and (max-width: 991px) {
/*
	.header-top {display: none}
	.header-top-2 {display: none}
	
	header {height: 0;}
	.header-main-container {position: fixed; left:0; right: 0; top: 0; z-index: 1000; background: #fff; border-bottom: 1px solid #ddd;}
	
	.header-main-row {margin: -7px; height: auto;}
	.header-main-row > * {margin: 7px;}
	
	.header-menu-col {display: block; width: 30%}

	.header-cart-col {width: 30%; text-align: right}
	
	.header-phone-col {display: none}
	.header-callback-col {display: none}
	.header-search-col {display: none}
	
	.header-main-menu {display: none}
	
	main {padding-top: 90px !important}
*/



	.header-top {display: none !important;}
	.header-top-2 {display: none}

	.header-main-container {position: fixed; left:0; right: 0; top: 0; z-index: 1000; background: #fff; border-bottom: 1px solid #ddd;}

	.header-main-row {margin: -7px; height: auto;}
	.header-main-row > * {margin: 7px;}

	.header-menu-col {display: block; width: 30%}

	.header-cart-col {width: 30%; text-align: right}

	.header-phone-col {display: none}
	.header-callback-col {display: none}
	.header-search-col {display: none}

	.header-main-menu-wrap {
		background: #fff;
		margin-top: 115px;
	}

	.header-main-menu-wrap .menu-items.level-1.menu-items--only-desktop {
		display: none;
	}

	.header-main-menu-wrap .menu-items.level-1.menu-items--only-mobile {
		display: flex;
	}

	.header-main-menu-wrap .header-main-menu .menu-items.level-1 {
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -10px;
		margin-right: -10px;
	}

	.header-main-menu-wrap .header-main-menu .menu-item.level-1 > a {
		padding: 10px 20px;
		font-size: 14px;
		background: #1786c4;
		border-radius: 10px;
	}

	.header-main-menu-wrap .header-main-menu .menu-sub.level-2,
	.header-main-menu .menu-item.level-1:hover .menu-sub.level-2 {
		display: none;
	}

	.header-main-menu .menu-item.level-1:first-child > a,
	.header-main-menu .menu-item.level-1:last-child > a {
		margin-left: 0;
		margin-right: 0;
	}

	.header-main-menu .menu-item.level-1 {
		height: auto;
		margin: 0 5px 5px;
	}

	main {padding-top: 15px !important}

}
@media only screen and (max-width: 767px) {
	.header-cart-col {}
	.header-cart-col .header-fav {display: none}
	.header-cart-col .header-cart-text {display: none}
	
	.header-menu-col, .header-cart-col {width: 15%}
}











footer {font-size: 16px}
footer a, footer a:hover, footer a:focus {color: inherit}

.footer-logo {display: flex; align-items: center; justify-content: center; height: 88px; margin: 0 0 50px 0; background: #1786c4;}

.footer-info {}
.footer-info-row {display: flex; flex-wrap: wrap; margin: -10px; justify-content: space-between}
.footer-info-row > * {margin: 10px; width: 460px; max-width: 100%;}




.footer-soc-col {}
.footer-soc-flex {display: flex; margin: -9px; }
.footer-soc-flex > * {margin: 9px}

.footer-soc-icon {flex-shrink: 0; width: 88px; height: 88px; margin-right: 0; background-image: url(../img/footer-soc.png)}

.footer-soc-text {text-align: justify; }

.footer-soc-links {min-width: 155px;}
.footer-soc-icons {width: 40px; height: 40px; margin: 0 0 10px 0;}
.footer-soc-icons.code-facebook {background-image: url(../img/soc-fb.png)}
.footer-soc-icons.code-vk {background-image: url(../img/soc-vk.png)}
.footer-soc-icons.code-youtube {background-image: url(../img/soc-youtube.png)}
.footer-soc-icons.code-inst {background-image: url(../img/soc-inst.png)}
.footer-soc-icons.code-ok {background-image: url(../img/soc-ok.png)}
.footer-soc-icons.code-whatsapp {background-image: url(../img/soc-whatsapp.png)}

.footer-soc-text-img {margin: 8px 0 0 0}

.footer-subscribe-col {}
.footer-subscribe-flex {display: flex; margin: -10px; }
.footer-subscribe-flex > * {margin: 10px}

.footer-subscribe-icon {flex-shrink: 0; width: 78px; height: 78px; background-image: url(../img/footer-subscribe.png)}
.footer-subscribe-text {text-align: justify}
.footer-subscribe-text-2 {margin: 12px 0 0 0;}
.footer-subscribe-input {width: 100%; padding: 2px 5px; border: 1px solid #aaa; border-radius: 4px}

.footer-info-grow {display: none}

@media only screen and (min-width: 1100px) {
	.footer-info-row > * {width: 500px}
}

@media only screen and (max-width: 991.98px) {
	.footer-info-row {justify-content: center}
	.footer-subscribe-icon {width: 88px; background-position: left center !important}
	
	.footer-info-row > * {width: 500px}
	
}
@media only screen and (max-width: 767.98px) {
	
}
@media only screen and (max-width: 479.98px) {
	
	.footer-soc-flex {flex-wrap: wrap}
	.footer-subscribe-flex {flex-wrap: wrap}
	
	
	
	.footer-soc-text {order: 2}
	.footer-soc-links {flex-grow: 1; text-align: right}
	
}

.footer-main {margin: 20px 0;}
.footer-main-row {display: flex; flex-wrap: wrap; margin: -20px}
.footer-main-row > * {padding: 20px; flex-grow: 1; width: 225px}

.footer-col-title {margin: 0 0 20px 0; font-weight: bold}

.footer-col-menu .menu-item {display: block; margin: 0 0 6px 0}

.footer-payment-items {display: inline-flex; margin: -3px}
.footer-payment-items > * {margin: 3px}
.footer-payment-item {width: 48px; height: 30px}
.footer-payment-item.code-mastercard {background-image: url(../img/payment-mastercard.png)}
.footer-payment-item.code-visa {background-image: url(../img/payment-visa.png)}
.footer-payment-item.code-mir {background-image: url(../img/payment-mir.png)}

@media only screen and (min-width: 992px) {
	
	.footer-main-row > *:first-child {width: 115px}
	.footer-main-row > *:nth-child(3) {width: 115px}
	
	.footer-main-row > .footer-contacts-col {width: auto; flex-grow: 0}
	.footer-main-row .ui-flex-empty {display: none}
}
@media only screen and (max-width: 991.98px) {
	.footer-main-row > * {text-align: center}
}






html body .site-callback-modal .ui-modal-inner {width: 500px; height: auto}


main {padding: 0 0 20px 0}

main > .container .container {padding-left: 0; padding-right: 0}

body .cabinet {background: #fff}





.goods-item:hover {text-decoration: none !important}
.catalog-items-text {display: none}



.sp-form {width: auto !important; padding: 0 !important; background: none  !important; border: none  !important}
.sp-form .sp-field {padding: 0 !important; display: inline-block !important; vertical-align: middle !important}
.sp-form[sp-id="161676"] .sp-form-fields-wrapper {margin: 0}
.sp-button {margin: 4px 0 0 8px !important}











/* E */

/*
body .catalog-sections {display: none}
*/