.modern-page-navigation a,
.modern-page-navigation span {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 10px 5px;
	background: #fff;
	text-align: center;
	line-height: 36px;
	border: 2px solid #70b50d!important;
	border-radius: 5px;
	padding: 0!important;
	color: #70b50d;
	vertical-align: top;
	font-weight: normal!important;
	text-decoration: none !important;
}
.modern-page-navigation a:hover, .modern-page-navigation .modern-page-current {
	background: #70b50d;
	color: #fff!important;
}
.modern-page-navigation a.modern-page-dots,
.modern-page-navigation a.modern-page-dots:hover {
	text-indent: -9999px;
	background: #f5faef url(pagination.png) center center no-repeat;
	border-color: transparent!important;
}
.modern-page-navigation a.modern-page-next,
.modern-page-navigation a.modern-page-previous {
	width: auto!important;
	text-transform: uppercase;
	padding-left: 20px!important;
	padding-right: 20px!important;
}
.modern-page-navigation {
	/*margin: 0 -30px !important;
	/*background: #f5faef;*/
	border-top: 1px solid #ddedca;
	padding: 15px 0!important;
}

.modern-page-navigation a:hover {
	text-decoration: none !important;
}

.catalog__more-container {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

.catalog__more-button {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: bold;
	height: 46px;
	border-radius: 10px;
	outline: none;
	transition: all .3s;
	padding: 0 16px;
	font-size: 15px;
	background: #fff;
	border: 2px solid #0087cb;
	color: #0087cb;
}

.catalog__more-button:hover {
	background: #0087cb;
	border: 2px solid #0087cb;
	color: #fff;
}