.cabinet .checkboxArea, .cabinet .checkboxAreaChecked {
    width: 25px !important;
    height: 27px !important;
}
.captcha-pic {
	max-width: 100%;
}
.error-message:first-letter {
	text-transform: uppercase;
}
.error-message--captcha {
	margin-left: 0!important;
	margin-top: 27px!important;
	text-transform: none;
	white-space: nowrap;
	letter-spacing: normal;
}
.btn-submit {
	background: #426EC7;
    border: 2px solid #426EC7;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}
.btn-submit:hover {
	background: #2C87F2;
	border: 2px solid #2C87F2;
}
.pass-ok {
	display: none;
}
.error-message--captcha br {
	display: none;
}
footer {
    margin-top: 0!important;
}
.checkbox-add .checkboxArea,
.checkbox-add .checkboxAreaChecked {
	width: 25px !important;
	height: 27px !important;
}