.alx_feed_back_default
{
        padding: 0px;
        margin: 0px;
        zoom:1;
        text-transform:none !important;
        text-align:left !important;
        line-height:normal !important;
        text-decoration:none !important;
}
.alx_feed_back_default *
{

}
.alx_feed_back_default form
{
        padding: 0px;
        margin: 0px;
	width:750px;
}
.alx_feed_back_default > .alx_feed_back_form_error_block
{



}
*html .alx_feed_back_default .alx_feed_back_form_error_block
{

}
.alx_feed_back_default .alx_feed_back_form_error_block td
{
        vertical-align:top;
        text-align:left;
}
.alx_feed_back_default .alx_feed_back_form_error_pic
{
        vertical-align:top;
        text-align:left;
        width:1%;
        padding-left:1px !important;
        padding-top:3px !important;
        border-right:1px solid #D7D7D7 !important;
        padding-right:11px !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_title_error
{
        margin: 0px 0px 4px 0px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_error_td_list
{
        padding-left:10px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_mess_ok_td_list
{
        padding-left:10px;
        vertical-align:middle;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul
{
        padding: 0px;
        margin: 0px;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li:before
{
        content: '' !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li
{
        padding: 0px 0px 4px 8px;
        margin: 0px;
        list-style:none !important;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li span
{
        position:relative;
        z-index:1;
        margin-left:-8px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles
{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole
{
   float: left;
    margin: 0 0 20px 40px;
margin-left:0;
    padding: 0;
    width: 44%;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_name
{
        padding: 0px;
        margin: 0px 0px 6px 0px;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext
{

        width:100%;
 
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg textarea
{
        width:100%;
        margin: 0px; 
        z-index:100;
        height:100px;
        overflow:auto;


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block
{
	width:800px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block input
{


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_inputtext_bg select
{
        width:100%;
        padding: 0px;
        margin: 0px;
        border:1px solid #959595;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole {
	margin:0;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file
{
        padding: 0px;
        margin: 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file input
{
        border:1px solid #959595;
        padding: 6px 0px;
        margin: 0px;
        width:100%;
        background:#ffffff;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_file_input_add
{
        ie-dummy:expression(this.hideFocus=true);
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar
{
        position:relative;
        z-index:2;
        zoom:1;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar .alx_feed_back_form_calendar_icon
{
        position:absolute;
        top:3px;
        right:5px;
}
.alx_feed_back_form_hint
{
        margin-top: 5px;
}
#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID2 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID3 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID4 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID5 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name {
	font-size:18px !important; 
	color:#424242 !important; 
	padding-left:10px;
} 

.callback-text {
	float:right !important; 
}