.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}

.profile-table
{
	width: 100%;
}

.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}

div.bx-auth-profile input.bx-auth-input {vertical-align:middle;}
div.bx-auth-profile span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-profile div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-profile div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}


.change-pass .checkboxArea, .change-pass .checkboxAreaChecked,
.checkbox-add .checkboxArea, .checkbox-add .checkboxAreaChecked,
.fields .checkboxArea, .fields .checkboxAreaChecked {
    width: 25px !important;
    height: 27px !important;
}

.notetext {
	text-align: center;
}

.success-msg p {
	margin-bottom: 0;
}
.success-msg {
	padding: 20px 30px;
}
.selectArea {
	padding-left: 0!important;
}
.selectArea .center {
	color: inherit!important;
	width: 100%!important;
}
a.selectButton, a.selectButton:hover {
	top: auto!important;
	right: 8px!important;
	left: auto!important;
}
.select-center li {
    padding: 3px 0!important;
}
.select-center li:hover {
    background: #DDEDCA!important;
}
.checkbox-add2 .checkboxArea,
.checkbox-add2 .checkboxAreaChecked {
	width: 25px !important;
	    height: 27px !important;
}
.added_company a {
	color: #03a9f4;
}
