a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

.search-page input[type=submit] {
  background: url("/images/galka.png") no-repeat scroll 80% center #FFFFFF;
    border: 1px solid #73DD66;
    border-radius: 5px;
    color: #73DD66;
    display: block;
    font-size: 15px;
    padding: 5px 70px 5px 50px;
    text-transform: uppercase;
    float: right;
} 
.search-page input[type=text] {
    width: 700px;
    float:left;
}

.search-page input[type=submit]:hover {
  background: url("/images/galka-white.png") no-repeat scroll 80% center #73DD66;   
   color: #fff;
}