a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

.catalog-filter label{
	font-weight: unset;
}

.dropdown-toggle .bs-caret{
    display: none;
}