/* Start:/bitrix/templates/orthoboom/components/bitrix/search.title/template1/style.css?14278311472108*/
div.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	overflow:hidden;
	z-index:205;
}

table.title-search-result {
	border-collapse: collapse;
	border:none;
	width:10%;
}

table.title-search-result th {
	background-color:#F7F7F7;
	border-right:1px solid #e8e8e8;
	color:#949494;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:14px;
 	padding-right:12px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
	width:1%;
}

table.title-search-result td {
	background-color:white;
	color:black;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
	white-space:nowrap;
}

table.title-search-result td.title-search-item {
	padding-left:8px;
	padding-right:15px;
}

table.title-search-result td.title-search-item a {
	padding-left:4px;
	padding-right:15px;
	text-decoration: none;
	color:black;
	vertical-align:top;
	display:block;
}

table.title-search-result td.title-search-item img {
	vertical-align:top;
}

table.title-search-result td.title-search-item b {
	color:#cf0000;
	font-weight:normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a
{
	background-color:#fff2be;
}

table.title-search-result td.title-search-more {
	font-size:11px;
	font-weight:normal;
	padding-right:15px;
	padding-left:24px;
	padding-top:0px;
}

table.title-search-result td.title-search-more a
{
	padding-left:12px;
	padding-right:15px;
	text-decoration:none;
	color:#999999;
}

table.title-search-result td.title-search-all {
	padding-left:24px;
	padding-right:15px;
}

table.title-search-result td.title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#808080;
}

table.title-search-result td.title-search-separator
, table.title-search-result th.title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

div.title-search-fader {
	display:none;
	background-image: url('/bitrix/templates/orthoboom/components/bitrix/search.title/template1fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}
/* End */


/* Start:/bitrix/templates/orthoboom/components/bitrix/menu/template1/style.css?1427831147583*/
/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(/bitrix/templates/orthoboom/components/bitrix/menu/template1left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}



/* End */


/* Start:/bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1459886521448*/
.bx-breadcrumb{margin:10px 0}
.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}
.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}
.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px}
.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0; color:#00326F;}
.bx-breadcrumb .bx-breadcrumb-item a:visited{color:#00326F;}
/* End */


/* Start:/bitrix/templates/orthoboom/components/bitrix/news.list/owl-carousel-hidden-div/style.css?1427831147108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/orthoboom/components/bitrix/news.list/benefit-list/style.css?1427831147108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/orthoboom/components/altasib/feedback.form/template_common/style.css?14278311474912*/
.alx_feed_back_default
{
        padding: 0px;
        margin: 0px;
        zoom:1;
        text-transform:none !important;
        text-align:left !important;
        line-height:normal !important;
        text-decoration:none !important;
}
.alx_feed_back_default *
{

}
.alx_feed_back_default form
{
        padding: 0px;
        margin: 0px;
	width:750px;
}
.alx_feed_back_default > .alx_feed_back_form_error_block
{



}
*html .alx_feed_back_default .alx_feed_back_form_error_block
{

}
.alx_feed_back_default .alx_feed_back_form_error_block td
{
        vertical-align:top;
        text-align:left;
}
.alx_feed_back_default .alx_feed_back_form_error_pic
{
        vertical-align:top;
        text-align:left;
        width:1%;
        padding-left:1px !important;
        padding-top:3px !important;
        border-right:1px solid #D7D7D7 !important;
        padding-right:11px !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_title_error
{
        margin: 0px 0px 4px 0px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_error_td_list
{
        padding-left:10px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_mess_ok_td_list
{
        padding-left:10px;
        vertical-align:middle;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul
{
        padding: 0px;
        margin: 0px;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li:before
{
        content: '' !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li
{
        padding: 0px 0px 4px 8px;
        margin: 0px;
        list-style:none !important;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li span
{
        position:relative;
        z-index:1;
        margin-left:-8px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles
{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole
{
   float: left;
    margin: 0 0 20px 40px;
margin-left:0;
    padding: 0;
    width: 44%;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_name
{
        padding: 0px;
        margin: 0px 0px 6px 0px;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext
{

        width:100%;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg textarea
{
        width:100%;
        margin: 0px;
        z-index:100;
        height:100px;
        overflow:auto;


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block
{
	width:800px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block input
{


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_inputtext_bg select
{
        width:100%;
        padding: 0px;
        margin: 0px;
        border:1px solid #959595;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole {
	margin:0;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file
{
        padding: 0px;
        margin: 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file input
{
        border:1px solid #959595;
        padding: 6px 0px;
        margin: 0px;
        width:100%;
        background:#ffffff;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_file_input_add
{
        ie-dummy:expression(this.hideFocus=true);
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar
{
        position:relative;
        z-index:2;
        zoom:1;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar .alx_feed_back_form_calendar_icon
{
        position:absolute;
        top:3px;
        right:5px;
}
.alx_feed_back_form_hint
{
        margin-top: 5px;
}
#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID2 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID3 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID4 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID5 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name {
	font-size:18px !important;
	color:#424242 !important;
	padding-left:10px;
}

.callback-text {
	float:right !important;
}
/* End */


/* Start:/bitrix/templates/orthoboom/components/bitrix/menu/template2/style.css?1427831147626*/
/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(/bitrix/templates/orthoboom/components/bitrix/menu/template2left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}



/* End */


/* Start:/bitrix/templates/orthoboom/components/altasib/feedback.form/template_common2/style.css?14495647184912*/
.alx_feed_back_default
{
        padding: 0px;
        margin: 0px;
        zoom:1;
        text-transform:none !important;
        text-align:left !important;
        line-height:normal !important;
        text-decoration:none !important;
}
.alx_feed_back_default *
{

}
.alx_feed_back_default form
{
        padding: 0px;
        margin: 0px;
	width:750px;
}
.alx_feed_back_default > .alx_feed_back_form_error_block
{



}
*html .alx_feed_back_default .alx_feed_back_form_error_block
{

}
.alx_feed_back_default .alx_feed_back_form_error_block td
{
        vertical-align:top;
        text-align:left;
}
.alx_feed_back_default .alx_feed_back_form_error_pic
{
        vertical-align:top;
        text-align:left;
        width:1%;
        padding-left:1px !important;
        padding-top:3px !important;
        border-right:1px solid #D7D7D7 !important;
        padding-right:11px !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_title_error
{
        margin: 0px 0px 4px 0px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_error_td_list
{
        padding-left:10px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_mess_ok_td_list
{
        padding-left:10px;
        vertical-align:middle;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul
{
        padding: 0px;
        margin: 0px;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li:before
{
        content: '' !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li
{
        padding: 0px 0px 4px 8px;
        margin: 0px;
        list-style:none !important;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li span
{
        position:relative;
        z-index:1;
        margin-left:-8px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles
{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole
{
   float: left;
    margin: 0 0 20px 40px;
margin-left:0;
    padding: 0;
    width: 44%;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_name
{
        padding: 0px;
        margin: 0px 0px 6px 0px;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext
{

        width:100%;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg textarea
{
        width:100%;
        margin: 0px;
        z-index:100;
        height:100px;
        overflow:auto;


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block
{
	width:800px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block input
{


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_inputtext_bg select
{
        width:100%;
        padding: 0px;
        margin: 0px;
        border:1px solid #959595;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole {
	margin:0;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file
{
        padding: 0px;
        margin: 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file input
{
        border:1px solid #959595;
        padding: 6px 0px;
        margin: 0px;
        width:100%;
        background:#ffffff;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_file_input_add
{
        ie-dummy:expression(this.hideFocus=true);
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar
{
        position:relative;
        z-index:2;
        zoom:1;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar .alx_feed_back_form_calendar_icon
{
        position:absolute;
        top:3px;
        right:5px;
}
.alx_feed_back_form_hint
{
        margin-top: 5px;
}
#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID2 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID3 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID4 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID5 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name {
	font-size:18px !important;
	color:#424242 !important;
	padding-left:10px;
}

.callback-text {
	float:right !important;
}
/* End */


/* Start:/bitrix/templates/orthoboom/components/altasib/feedback.form/template_common3/style.css?14496483044912*/
.alx_feed_back_default
{
        padding: 0px;
        margin: 0px;
        zoom:1;
        text-transform:none !important;
        text-align:left !important;
        line-height:normal !important;
        text-decoration:none !important;
}
.alx_feed_back_default *
{

}
.alx_feed_back_default form
{
        padding: 0px;
        margin: 0px;
	width:750px;
}
.alx_feed_back_default > .alx_feed_back_form_error_block
{



}
*html .alx_feed_back_default .alx_feed_back_form_error_block
{

}
.alx_feed_back_default .alx_feed_back_form_error_block td
{
        vertical-align:top;
        text-align:left;
}
.alx_feed_back_default .alx_feed_back_form_error_pic
{
        vertical-align:top;
        text-align:left;
        width:1%;
        padding-left:1px !important;
        padding-top:3px !important;
        border-right:1px solid #D7D7D7 !important;
        padding-right:11px !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_title_error
{
        margin: 0px 0px 4px 0px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_error_td_list
{
        padding-left:10px;
}
.alx_feed_back_default .alx_feed_back_form_error_block .alx_feed_back_form_mess_ok_td_list
{
        padding-left:10px;
        vertical-align:middle;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul
{
        padding: 0px;
        margin: 0px;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li:before
{
        content: '' !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li
{
        padding: 0px 0px 4px 8px;
        margin: 0px;
        list-style:none !important;
        background:transparent !important;
}
.alx_feed_back_default .alx_feed_back_form_error_block ul li span
{
        position:relative;
        z-index:1;
        margin-left:-8px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles
{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole
{
   float: left;
    margin: 0 0 20px 40px;
margin-left:0;
    padding: 0;
    width: 44%;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_name
{
        padding: 0px;
        margin: 0px 0px 6px 0px;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext
{

        width:100%;

}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg textarea
{
        width:100%;
        margin: 0px;
        z-index:100;
        height:100px;
        overflow:auto;


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block
{
	width:800px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block input
{


}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_inputtext_bg select
{
        width:100%;
        padding: 0px;
        margin: 0px;
        border:1px solid #959595;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole {
	margin:0;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file
{
        padding: 0px;
        margin: 0px;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_file input
{
        border:1px solid #959595;
        padding: 6px 0px;
        margin: 0px;
        width:100%;
        background:#ffffff;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_file_input_add
{
        ie-dummy:expression(this.hideFocus=true);
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar
{
        position:relative;
        z-index:2;
        zoom:1;
}
.alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg_calendar .alx_feed_back_form_calendar_icon
{
        position:absolute;
        top:3px;
        right:5px;
}
.alx_feed_back_form_hint
{
        margin-top: 5px;
}
#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID2 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID3 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID4 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name,
#alx_feed_back_default_FID5 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name {
	font-size:18px !important;
	color:#424242 !important;
	padding-left:10px;
}

.callback-text {
	float:right !important;
}
/* End */


/* Start:/bitrix/templates/orthoboom/template_styles.css?146048074223402*/
body {
    font-family: 'Roboto Condensed',sans-serif;
    background: #fff repeat;
    color: #424242;
    font-weight: 400;
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
		padding-top: 2px;
}

.container {
    width: 980px;
}

.bxce--light .bxce-highlight pre {
    text-align: left;
}

/*a,a:visited,a:active,a:link,a:hover {
    text-decoration: none;
    color: #fff;
}*/

footer a {
        text-decoration: none;
    color: #fff;
}

header {
    height: 130px;
    margin-top: 20px;
}

header input {
    width: 370px;
    background: #eee url(/images/lupa.png) 98% center no-repeat !important;
    padding-right: 30px !important;
    color: #000 !important;
    margin-top: 15px;
    display: block;
}

.city {
	font-size:15px;
    padding-left: 15px;
    text-align: center;
    display: inline-block;
}

.city span {
    color: #424242;
    border-bottom: 2px dotted #999;
    cursor: pointer;
}

.city span:hover {
    color: #FF8C90;
    border-bottom: 2px dotted #FF8C90;
}

.logo {
    margin: 0;
}

.tel {
    font-size: 34px;
    font-weight: 300;
    margin-top: 25px;
    margin-left: 25px;
    color: #C0005D;
    width: 250px;
    line-height: .7;
}

.tel a {
    color: #424242;
}

.tel img {
    display: block;
    float: left;
    margin: -2px 15px 0 0;
}

.menu {
    background: #0E6899;
    height: 50px;
    position: relative;
    z-index: 100;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 1px 1px 1px rgba(14,104,153,0.9);
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: #fff;
}

.ie8 .menu ul li a {
    display: block;
    padding: 15px 10px;
    font-size: 14px;
}

.menu ul li:hover,.menu ul li.active {
    background: #FF8C90;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(252,85,91,0.9);
}

.slider {
    margin-bottom: 70px;
}

h1 {
    color: #0D6897;
    font-size: 35px;
    font-weight: 400;
}

.h1 {
    color: #0D6897;
    font-size: 35px;
    font-weight: 400;
	text-align: center;
}

.item {
    color: #000;
}

.item h2 {
    position: absolute;
    top: 170px;
    left: 10px;
    width: 360px;
    font-weight: 300;
    line-height: 1;
    font-size: 35px;
    padding: 10px;
    color: #fff;
    text-align: center;
    background: #77A961;
    background: rgba(78,145,41,0.7);
    font-family: 'Roboto',sans-serif;
}

.item .container {
    position: relative;
}

.item p {
    position: absolute;
    top: 210px;
    left: 10px;
    width: 450px;
    font-weight: 300;
    padding: 10px;
    color: #fff;
    background: rgba(78,145,41,0.7);
    font-family: 'Roboto',sans-serif;
}

.ie8 .item p {
    background: #77A961;
    width: 350px;
}

@media screen and (min-width: 1500px) {
    .item .container {
        position: static;
    }

    .item h2 {
        font-size: 40px;
        left: 15%;
        text-align: center;
        width: 430px;
    }

    .item p {
        top: 240px;
        left: 15%;
        font-size: 20px;
        width: 520px;
    }
}

@media screen and (max-width: 1280px) {
    .item h2 {
        top: 20px;
    }

    .item p {
        top: 130px;
    }
}

.parts .container {
    margin-top: 30px;
    height: 400px;
    background: url(/images/part2_ru.png) 30px center no-repeat;
    position: relative;
}

.parts p {
    color: #F1979A;
    font-size: 18px;
    position: absolute;
}

.parts p#part1 {
    top: 200px;
    left: 45px;
}

.parts p#part2 {
    top: 92px;
    left: 60px;
}

.parts p#part3 {
    top: 110px;
    right: 95px;
    width: 100px;
}

.parts p#part4 {
    right: 55px;
    top: 250px;
    width: 140px;
}

.parts h1 {
    font-size: 30px;
}

.about {
    background: #DEF3FE;
    padding: 50px 0;
    min-height: 700px;
    font-family: 'Roboto',sans-serif;
}

.about p {
    text-align: center;
	color: #0d6897;
}

.to-center {
    padding-left: 200px;
}

.about .span4 {
    min-height: 170px;
    margin-bottom: 20px;
    font-weight: 300;
    padding-top: 50px;
}

.about .span4 h4 {
    text-align: center;
	color: #0d6897;
}

.about .span4 {
    background: center top no-repeat;
}

.profit {
    padding: 50px 0;
}

.profit img {
    height: 370px;
}

.profit .span1 {
    background: url(/images/green.png) center right no-repeat;
    height: 380px;
    margin-right: -150px;
    width: 90px;
    position: relative;
    z-index: 100;
}

.profit .span2 {
    margin: 0 -50px 0 50px;
}

.green {
    background: #4E9129;
    padding: 20px 20px 20px 40px;
    border-radius: 5px;
    color: #fff;
    width: 660px;
    margin-left: 100px;
    margin-top: 40px;
    line-height: 1.4;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}

.callback {
    border: 3px solid #ECECEC;
    border-radius: 10px;
    min-height: 430px;
    margin: 0 auto 50px;
    width: 800px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.3);
    position: relative;
}

.callback .span4 {
    width: 350px;
}

.callback .span4:nth-child(2) {
    margin-left: 50px;
}

.callback input[type=text],.callback textarea {
    width: 90%;
    background: #EEE;
}

.callback input[type=submit] {
    display: block;
    margin-left: 290px;
    text-transform: uppercase;
    padding: 5px 70px 5px 50px;
    color: #73DD66;
    border: 1px solid #73DD66;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    background: #fff url(/images/galka.png) 80% center no-repeat;
}

.callback input[type=submit]:hover {
    color: #fff;
    background: #73DD66 url(/images/galka-white.png) 80% center no-repeat;
}

.callback textarea {
    height: 180px;
}

.callback label,.callback .alx_feed_back_form_item_pole {
    text-transform: uppercase !important;
    margin: 10px 0;
    font-size: 18px !important;
    font-weight: 400;
    display: block;
    width: 100%;
}

.callback h2 {
    margin: 30px 0;
}

.callback h1 {
    margin: 30px 0;
}

.callback .for-submit {
    height: 70px;
    background: #EEE;
    margin-top: 40px;
    //position: absolute;
    bottom: 0;
    width: 100%;
}

footer {
    background: #0D6897 url(/images/tv.png) center top repeat-x;
    height: 150px;
    margin-top: 20px;
    padding-top: 40px;
    color: #fff;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    float: left;
    padding: 0 15px;
    list-style: none;
}

footer ul li a {
    text-decoration: underline !important;
}

footer /*ul li*/ a:hover {
    text-decoration: none !important;
    color: #FF8C90;
}

footer img {
    margin-right: 5px;
}

footer .cont {
    margin-left: 40px;
}


/* Страница Прием ортопеда */


.content {
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
}

.content .container {
    padding: 20px 10px;

}

.content h1 {
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content h2,.same h2 {
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    color: #0E6899;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 30px;
}

/*-----------StartAddStyle Page_Сотрудничество----------------*/
.content .logo_content {
	border: 2px solid #0e6899;
  border-radius: 13px;
  padding: 20px 0 20px 10px;
  text-align: center;
	width: 267px;
	margin-left: 0;
}

.content .contact {
	font-size: 21px;
	padding-left: 35px;
	line-height: 35px;
  margin-top: 40px;
}

.content .contact span {
	font-weight: bold;
	color: #6f6f6f;
}

.content .company_info {
	width: 900px;
padding-left: 25px;
padding-right: 100px;
}

.content .company_info h2 {
	margin: 0 0 15px 50px;
	font-size: 30px;
	font-weight: lighter;
}

.content .company_info p {
	margin-bottom: 25px;
}

.diop_address{
    float: left;
    width: 31%;
    padding: 0 5px;
}
/*.content .diop_address:nth-child(3n+3) { clear: both; }*/


.content .comments {
	padding-right: 100px;
	margin-bottom: 50px;
}

.content .comments h2 {
	margin: 0 0 15px 75px;
	font-size: 30px;
	font-weight: lighter;
}

.content .comments .comment_item {
	background-color: #e9f5db;
	margin-bottom: 25px;
  padding: 35px 25px 20px;
	border-radius: 13px;
}

.content .comments .comment_item .sign {
	text-align: right;
	color: #808080;
}

.content .comments .comment_item blockquote {
	border: none;
	padding-left: 0;
}

blockquote::before {
    color: #266f9f;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.4em;
}

blockquote::after {
    color: #266f9f;
    content: "\201D";
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.2em;
    vertical-align: -0.45em;
}

footer  {
	position: relative;
}

.bx-btn-border {
    border: 1px solid #d4d4d4;
    height: 29px !important;
    line-height: 29px !important;
}
footer .bx-btn-red {
    background-position: right -62px;
    color: #555 !important;
}
.bx-composite-btn-fixed {
    position: absolute;
    right: 15px;
    top: 90px;
    z-index: 10;
}
.bx-composite-btn {
    background: #e94524 url("/images/sprite-1x.png") no-repeat scroll right 0;
    border-radius: 15px;
    /*color: #ffffff !important;*/
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    height: 31px !important;
    line-height: 30px;
    padding: 0 42px 0 17px !important;
    text-decoration: none !important;
    vertical-align: middle !important;
}

/*.select-center {
	border-radius: 0 0 5px 5px;
	border-style: none none none;
}*/
.container_top {
	margin-bottom: 15px;
}

.select_city .form_line>p {
	font-weight: 400;
}

.description {
		display: inline-block;
    margin-left: 225px;
    width: 657px;
		line-height: 23px;
	/*	position:relative;
		top: -80px;*/
}

.description .phones {
	font-weight: 400;
}

.content .block {
	background-color: #e9f5db;
	border: 2px solid #0e6899;
	padding: 10px 22px;
	border-radius: 13px;
	margin-bottom: 18px;
	width: 885px;
	position: relative;
}

.content .block img {
	width: 110px;
	height: auto;
}

.content .block * {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.content .block .city_in_block {
    float: right;
    margin-top: 34px;
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -8px;
    width: 250px;
    text-align: center;
}

.content .block h2 {
	margin-top: 0px;
	margin-left: 30px;
	line-height: 1;
}

.content .block h2, .content table tr h2 {
	font-size: 24px;
	font-weight: 300;
	line-height: 1;
	color: #106799;
	font-family: HelveticaNeueCyr Light;
}

.content .block h2 a, .content table tr h2 a{
	text-decoration: none;
	color:#106799;
}

.content .block h2 a:hover , .content table tr h2 a:hover{
	text-decoration: underline;;
}


/*
.content table {
	width: 940px;
	margin-top: 40px;
}

.content table tr td {
	padding: 25px 30px 25px 24px;
}

.content table tr td:last-child {
	text-align: right;
}

.content table tr h2, .content table tr p {
	margin: 0;
}

.content table tr {
	border-bottom: 1px solid #e9f5db;
}

.content table tr.clickable:hover {
	background-color:#ff8c90;
	color: #fff;
	cursor: pointer;
}

.content table tr.clickable:hover h2 {
	color: #fff;
}
*/

.our-partners-table {
	width: 940px;
	margin-top: 40px;
}

.our-partners-table tr td {
	padding: 25px 30px 25px 24px;
}

.our-partners-table tr td:last-child {
	text-align: right;
}

.our-partners-table tr h2, .our-partners-table tr p {
	margin: 0;
}

.our-partners-table tr {
	border-bottom: 1px solid #e9f5db;
}

.our-partners-table tr.clickable:hover {
	background-color:#ff8c90;
	color: #fff;
	cursor: pointer;
}

.our-partners-table tr.clickable:hover h2 {
	color: #fff;
}


.modern-page-navigation {
    padding: 0.5em 0;
		margin-top: 40px;
		margin-bottom: 95px;
}
.modern-page-navigation a, span.modern-page-current, span.modern-page-dots {
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 0.75em;
    padding-right: 0.6em;
}
.modern-page-navigation a.modern-page-previous {
    border-left: medium none;
    border-right-style: solid;
    border-right-width: 1px;
}
.modern-page-navigation a.modern-page-first, .modern-page-navigation span.modern-page-first {
    border-left: medium none;
    padding-left: 0.6em;
}
span.modern-page-current {
    font-weight: bold;
}
.modern-page-navigation a, span.modern-page-current, .modern-page-navigation a.modern-page-previous, span.modern-page-dots {
    border-color: #cdcdcd;
}

.modern-page-navigation a {
	text-decoration: none !important;
}

.select_city  {
		display: inline-block;
    margin-left: 0;
    position: absolute;
}
/*-----------EndAddStyle----------------*/

.callback h2 {
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    color: #0E6899;
    font-size: 25px;
}

.webform {
    background: #D4ECC9;
    margin-bottom: -20px;
    padding: 60px 0 40px;
}

.webform .callback {
    background: #fff;
}

.variant {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.variant span {
    padding: 10px 15px;
    margin: 0 20px;
    border: 2px solid #D4ECC9;
}

.variant span.active,.variant span:hover {
    border: 2px solid #106799;
    border-radius: 7px;
    color: #106799;
    cursor: pointer;
}

input[type=date],input[type=time] {
    text-align: center;
    background: #EEE;
}

.form1,.form2 {
    margin-top: 80px;
    position: relative;
}

/* Страница Полезная информация */

table#razmer {
    width: 100%;
    height: 100%;
    display: block;
    font-weight: 400;
}

table#razmer thead th {
    font-weight: 300;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
}

table#razmer thead th,table#razmer tbody td {
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #999;
}

table#razmer tr {
    border-bottom: 1px solid #ccc;
}

.file {
    border: 2px solid #0D6897;
    border-radius: 5px;
    min-height: 140px;
    margin: 10px 0 0 35px;
    padding: 20px 20px 20px 40px;
    width: 160px;
}

.file strong {
    color: #000;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
}

.file img {
    float: left;
    margin-right: 10px;
}

.file a {
    display: block;
    color: #FF8C90 !important;
    text-decoration: underline;
    overflow: hidden;
    font-weight: 400;
}


/* Страница где купить */


.gorod {
    border: 2px solid #106799;
    border-radius: 7px;
    color: #106799;
    cursor: pointer;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    width: 220px;
}

.gorod .selectArea {
    margin: 0;
    width: 220px !important;
}

.white {
    background: #fff !important;
}

.gorod:hover {
    color: #FF8C90;
    border: 2px solid #FF8C90;
}

.maps {
    margin-bottom: -20px;
}

span.center {
    display: block;
}

.centry {
    margin: 0;
    width: 80px;
}

a.selectButton:hover {
    background: url(/images/down-pink.png) 95% center no-repeat;
}


/* Страница Оплата и доставка */


.oplata1,.oplata2,.dostavka1,.dostavka2,.dostavka3 {
    min-height: 100px;
    margin-bottom: 20px;
    font-weight: 300;
    padding-top: 50px;
}

.oplata1 h4,.oplata2 h4,.dostavka1 h4,.dostavka2 h4,.dostavka3 h4 {
    text-align: center;
}

.oplata1 li,.oplata2 li,.dostavka1 li,.dostavka2 li,.dostavka3 li {
    text-align: justify;
}

.oplata1 {
    background: url(/images/img1.png) center top no-repeat;
}

.oplata2 {
    background: url(/images/img2.png) center top no-repeat;
}

.go-catalog {
    background: #D4ECC9;
    height: 150px;
    margin-bottom: -20px;
}

span.go-to {
    border: 2px solid #106799;
    border-radius: 7px;
    color: #106799;
    cursor: pointer;
    font-weight: 700;
    margin: 50px auto 0;
    display: block;
    padding: 10px 25px;
    text-transform: uppercase;
    background: url(/images/strela.png) 85% center no-repeat;
    width: 160px;
    font-weight: 300;
}

.content a {
    color: #000;
    text-decoration: underline;
}

/* Страница Оптовым покупателям */
.opt {
    position: relative;
    min-height: 480px;
}

.opt h1 {
    font-size: 25px;
}

.opt textarea {
    height: 170px !important;
}



/* Страница Каталог */


.green-background {
    background: #D4ECC9;
    margin-bottom: -20px;
    padding-bottom: 70px;
}

.filters {
    text-align: center;
    margin: 40px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    min-height: 70px;
}

.filter {
    border: 2px solid #106799;
    border-radius: 7px;
    color: #106799;
    cursor: pointer;
    font-weight: 700;
    margin: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    padding-right: 40px;
    background: url(/images/down-blue.png) 95% center no-repeat;
    width: 160px;
}

.filter:hover {
    background: url(/images/down-pink.png) 95% center no-repeat;
    color: #FF8C90;
    border: 2px solid #FF8C90;
}

.catalog .span3 {
    background: #fff;
    height: 320px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.catalog img.prev {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
}

.catalog .buytoo img {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
}

.catalog p.item-name {
    position: absolute;
    top: 200px;
    text-align: center;
    width: 80%;
    left: 10%;
    height: 44px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
}

.catalog p.item-name a {
    color: #0C6695;
    text-decoration: none;
    border-bottom: 1px solid #BBCBE8;
    font-family: 'Roboto',sans-serif;
}

.catalog p.item-name a:hover {
    border-bottom: none;
}

.catalog .bx_catalog_item_articul {
    color: #191919;
    position: absolute;
    top: 250px;
    width: 80%;
    left: 10%;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

.catalog .bx_catalog_item_articul strong {
    font-weight: 300;
}

.catalog .test-price {
    position: absolute;
    top: 250px;
    text-align: center;
    width: 100%;
    color: #F4402C;
    font-weight: 700;
}

.test-price-detail {
    color: #F4402C;
    width: 150px;
    float: left;
    padding: 20px 0;
    font-size: 25px;
    font-family: 'Roboto';
}

img.plus {
    position: absolute;
    top: 0;
    padding: 75px 63px;
    transition: 1s;
}

.big-foto {
    margin: 0 20px 0 0;
}

.detail-foto {
    max-width: 480px;
    margin: 50px auto;
    display: block;
}

.back {
    text-transform: uppercase;
    color: #0D6897;
    font-size: 16px;
    background: url(/images/left-blue.png) 0 center no-repeat;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 30px;
}

.add-to-cart,a.add-to-cart {
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700;
    float: left;
    padding: 10px 40px 10px 20px;
    margin: 10px 0px;
    text-transform: uppercase;
    width: 150px;
    background: #436EC7 url("/images/cart-white.png") no-repeat scroll 93% center;
    color: #FFF;
}
.ie8 .add-to-cart {
    width: 180px;
}

.add-to-cart:hover {
    color: #fff;
    background: #95DE68 url(/images/cart-white.png) 93% center no-repeat;
}


/* Стилизация select */


#sezon .selectArea,#type .selectArea,#sex .selectArea {
    width: 150px !important;
    border: 2px solid #106799;
    border-radius: 7px;
    padding: 0 10px 0 0;
    color: #106799;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -5px;
}

#type .selectArea {
    width: 200px !important;
}

#sezon .selectArea:hover,#type .selectArea:hover,#sex .selectArea:hover {
    color: #FF8C90;
    border: 2px solid #FF8C90;
}

a.selectButton {
    right: 0 !important;
}

.optionsDivVisible {
    background: #D4ECC9;
    margin: 0;
    border-bottom: 2px solid #106799;
    border-left: 2px solid #106799;
    border-right: 2px solid #106799;
    border-radius: 10px;
}

.select-center {
    background: transparent;
    border-style: none;
}

.select-center ul {
    margin: 0;
    padding: 0 10px;
}

.select-center li {
    list-style: none;
}

.select-center li a {
    color: #106799;
    width: 100%;
    display: block;
}

.filters .span1 {
    width: 70px;
    margin-left: 30px;
    text-align: right;
}

.filters .span2 {
    width: 120px;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.filters .span3 {
    width: 160px;
    margin: 0;
    padding: 0;
}

.filters .span4 {
    width: 210px;
    margin: 0;
}

.select-center li {
    padding: 3px 0;
}

/* Стрелки */
.arrow_box {
    position: relative;
    background: #fff;
    border: 4px solid #ECECEC;
}

.arrow_box:after,.arrow_box:before {
    bottom: 100%;
    left: 67%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.form2:after,.form2:before {
    left: 36%;
}

.arrow_box:after {
    border-color: #fff;
    border-bottom-color: #fff;
    border-width: 30px;
    margin-left: -30px;
}

.arrow_box:before {
    border-color: #ececec;
    border-bottom-color: #ECECEC;
    border-width: 36px;
    margin-left: -36px;
}

/* Модальные окна */
a.close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal {
    width: 900px;
    margin-left: -450px;
    border: none;
    box-shadow: none;
    background: none;
    top: 5%;
}

.modal-body {
    min-height: 650px;
}

.modal-body .callback {
    background: #fff;
    position: relative;
    min-height: 480px;
}

.modal-body .callback textarea {
    height: 340px;
}

.modal.fade.in {
    top: 5%;
}

#modal-mini {
    width: 700px;
    height: 300px;
    margin-left: -390px;
    top: 10%;
}

#modal-mini .modal-body {
    width: 695px;
    height: 800px;
}

#modal-mini .callback {
    width: 695px;
    min-height: 400px;
}
#modal-callback .callback {
    width: 390px;
    min-height: 350px;
}
#modal-mini .city {
    text-align: left;
    padding: 0 50px;
    width: 600px;
}

.captcha input {
    width: 160px !important;
}

.captcha {
    width: 360px !important;
    height: 80px;
    padding: 20px 0;
}

#f_feedback small a {
    color: #424242;
}

.reload {
    width: 400px;
    text-align: center;
}

.modal textarea {
    height: 100px !important;
}

.modal #pole-for-captcha {
    width: 350px !important;
}

#YMapsID {
    width: 100% !important;
    height: 550px;
}

.shop_search_result {
    margin: 0 auto;
    width: 960px;
}

#title-search input {
    color: #666;
}

.outtaHere {
    left: 0;
}

.checkboxArea,.checkboxAreaChecked {
    width: 0 !important;
}

.bx_filter_block div:first-child {
    margin-top: -3px;
}

#small {
    width: auto;
    margin-left: 50px;
}

<br>
#alx_feed_back_default_FID1 {
    width: 50% !important;
}

#alx_feed_back_default_FID1 .alx_feed_back_form_error_block  {
    background-color: #fff;
}

#alx_feed_back_default_FID1 .alx_feed_back_form_error_list  {
    color: #8E8E8E;
    font-size: 12px;
}

<br>
#alx_feed_back_default_FID1 .alx_feed_back_form_title_error  {
    <brcolor: #A90000;
    font-size: 12px;
}

<br>
#alx_feed_back_default_FID1 .alx_feed_back_form_mess_ok  {
    <brfont-size: 12px;
    color: #963258;
}

#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_name  {
    font-size: 12px;
    color: #000;
}

<br>
#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_hint  {
    font-size: 10px;
    color: #000;
}

#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_inputtext_bg input,#alx_feed_back_default_FID1
.alx_feed_back_form_feedback_poles .alx_feed_back_form_inputtext_bg textarea,#alx_feed_back_default_FID1
 .alx_feed_back_form_feedback_poles .alx_feed_back_form_inputtext_bg select,#alx_feed_back_default_FID1
.alx_feed_back_form_feedback_poles .alx_feed_back_form_filename,#alx_feed_back_default_FID1
 .alx_feed_back_form_feedback_poles .alx_feed_back_form_file_button_bg {
    font-size: 12px;
    color: #727272;
    font-family: tahoma;
}

#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_file_input_add {
    font-size: 12px !important;
    color: #727272;
}

#alx_feed_back_default_FID1 .alx_feed_back_form_feedback_poles .alx_feed_back_form_required_text {
    color: red;
}

/* Кнопка ВВЕРХ */


#Go_Top {
    position: fixed;
    top: 45%;
/* bottom: 0%; */
    right: 0;
    cursor: pointer;
    display: none;
}

#Go_Top img {
    width: 50px;
}

.opt-table {
    padding: 20px;
    border-radius: 10px;
    color: #266f9f;
    border: 2px solid #266f9f;
    font-size: 16px;
    height: 75px;
    margin: 10px 0;
    line-height: 1.1;
    background: #e9f5db;
    cursor: pointer;
}

.opt-table h3 {
    margin: 0;
}

table .opt-table {
    width: 350px;
    margin-right: 10px;
    height: 60px;
}

.opt-table .span1 {
    width: 90px;
    text-align: center;
}

.margin0 {
    margin-left: 0 !important;
}

.opt-table .hide {
    background: #a7c4e6;
    color: #000;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    padding: 20px;
    margin-top: 10px;
}

.opt-table .hide ul {
    padding-left: 20px;
    margin: 0;
}

.opt-table .hide ul li {
    margin: 5px 0;
    text-align: justify;
    font-size: 14px;
}

.opt-table .span5,.opt-table .span3 {
    text-align: center;
}

.dostavka1 {
    background: url(/images/img3.png) center top no-repeat;
}

.dostavka2 {
    background: url(/images/img4.png) center top no-repeat;
}

.dostavka3 {
    background: url(/images/delivery5.png) center top no-repeat;
}

#title-search form {
    margin: 0;
}



/*         Доработки         */

.callback-form {
	font-size:16px;
	text-transform: uppercase;
	margin-top:20px;
	margin-left: 30px;
}

.callback-form  a {
	color: #93DE62;
	padding: 7px 25px;
	border: 2px solid #93DE62;
	border-radius: 5px;
	letter-spacing: 2px;
}
.callback-form a:hover {
	background: #93DE62;
	color: #fff;
}
#modal-callback {
	margin-left: -260px;
	width: 400px;
}

#modal-callback .modal-body {
	width:400px;
}

#modal-callback  .alx_feed_back_default form {
	width:400px;
}


#modal-callback .alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole {
	width:75%;
}

#modal-callback h2 {
	font-weight: 400;
	font-family: "Roboto",sans-serif;
	color: #0E6899;
	font-size: 25px;
	padding-left: 40px;
	margin-bottom: 20px;
}

#modal-callback .alx_feed_back_default .alx_feed_back_form_feedback_poles .alx_feed_back_form_submit_block {
	width:400px;
	background: none;
}

#modal-callback  input[type="submit"] {
	margin-left: 60px;
	margin-top: 0;
}
#modal-callback .for-submit {
	//height: auto;
}
#modal-callback  p {
	padding: 0px 40px;
	font-family: Roboto;
}

#modal-callback .callback {
    //min-height: 370px;
}


#modal-callback .alx_feed_back_form_error_block {
	margin-left:30px;
}

.review-item {
	background: #fff;
	padding: 20px;
	margin-bottom:15px;
	border-radius:7px;
	font-size:16px;
}

.review-item .sign {
	text-align: right;
	color: #808080;
}

.modern-page-navigation {
	text-align: center;
	background-color: #d4ecc9;
}

.rev-add {
	background: #fff;
	padding:15px 0 0 0;
	border-radius: 10px;
}

.rev-add h2 {
	font-size:24px;
	text-align: center;
	margin-top:20px;
}

.rev-bottom {
	background: #f1f0ee;
	border-bottom: 4px solid #ccc;
	padding: 15px 0;
	border-radius: 0 0 10px 10px;
	margin-top:30px;
}

.rev-add .alx_feed_back_form_item_pole {
	padding: 0 20px !important;
}

.rev-add .alx_feed_back_form_name {
	text-transform: uppercase !important;
	font-size: 16px !important;
	font-weight: 400;
	color: #4b4b4b !important;
}

.rev-add input[type=submit] {
	color: #70b50d;
	padding: 10px 43px;
	border: 2px solid #70b50d;
	border-radius: 5px;
	letter-spacing: 2px;
	text-transform: uppercase !important;
	margin: 10px auto;
	display: block;
	font-weight: bold;
	background: #fff;
}

.rev-add input[type=submit]:hover {
	color: #93DE62;
	border: 2px solid #93DE62;
}

.rev-add .alx_feed_back_form_error_block {
	margin: 0 20px  !important;
}

.zakaz-left {
          width: 60%;
          float:left;
}
.zakaz-right {
          width: 40%;
          float:left;
}

#alx_feed_back_default_FID5 {
         width:300px;
}

#alx_feed_back_default_FID5 .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole {
        width:150px;
}

#alx_feed_back_default_FID5.alx_feed_back_default form {
        width: 400px !important;
}

#alx_feed_back_default_FID5 .alx_feed_back_form_feedback_poles .alx_feed_back_form_item_pole .alx_feed_back_form_inputtext_bg textarea {
       width:340px;
}

 .modal-body .callback {
       min-height:600px;
}

.zakaz-right p {
       color: #334771;
       font-size:20px;
       line-height:1.2;
       margin: 20px 0;
}

#COUNT_FID51, #ARTICUL_FID51, #SIZE_FID51, #COLOR_FID51   {
	text-align: center;
}


.modal-body {
	max-height: 1000px !important;
}

.callback input[type="submit"]  {
	position: relative;
        z-index:100;
}
/* End */
/* /bitrix/templates/orthoboom/components/bitrix/search.title/template1/style.css?14278311472108 */
/* /bitrix/templates/orthoboom/components/bitrix/menu/template1/style.css?1427831147583 */
/* /bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1459886521448 */
/* /bitrix/templates/orthoboom/components/bitrix/news.list/owl-carousel-hidden-div/style.css?1427831147108 */
/* /bitrix/templates/orthoboom/components/bitrix/news.list/benefit-list/style.css?1427831147108 */
/* /bitrix/templates/orthoboom/components/altasib/feedback.form/template_common/style.css?14278311474912 */
/* /bitrix/templates/orthoboom/components/bitrix/menu/template2/style.css?1427831147626 */
/* /bitrix/templates/orthoboom/components/altasib/feedback.form/template_common2/style.css?14495647184912 */
/* /bitrix/templates/orthoboom/components/altasib/feedback.form/template_common3/style.css?14496483044912 */
/* /bitrix/templates/orthoboom/template_styles.css?146048074223402 */
.button_rev{
	color: #70b50d;
    padding: 10px 43px;
    border: 2px solid #70b50d;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase !important;
    display: block;
    font-weight: bold;
    background: #fff;
	float:right;
	margin-right:100px;
}
.button_rev:hover {
    color: #93DE62;
    border: 2px solid #93DE62;
}
.add_rev h2{
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    color: #0E6899;
}
.add_rev table{
    margin: 0px 20px;
}
.add_rev {
	width: 380px;
}
.add_rev input[type=text], .add_rev textarea{
	width: 325px;
}
.fanc_cont .fancybox-skin{
	border-radius: 10px;
	width: 380px!important;
}

.callback .for-submit{
	background:transparent !important;
}
.callback input[type=submit]{
	margin-left: 550px;
}
#EMPTY_TEXT1FID1{
	margin-bottom:20px;
}

.coupon-message {
	font-size: 26px;
	text-align: center;
	border: 1px solid;
	padding: 10px;
	background: #FFA07A;
	color: #fff;
}

.coupon-message .coupon-code {
	color: #8B0000;
}