.bx_catalog_item_scu {
	display: none;
}
.masonry-grid {
	height: auto !important;
}
.bx_catalog_item_articul {
	display: none;
}
.bx_col_input {
	border-color: #e2e2e2!important;
	height: 34px!important;
	width: 50px!important;
	height: 34px !important;
    border-radius: 10px 0 0 10px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    text-align: center;
}
.quantity_up,
.quantity_down {
	background: #2f8f5c;
	text-decoration: none;
	color: #fff;
	border: 0;
	display: block;
	line-height: 1;
	width: 20px;
	text-align: center;
	position: relative;
	left: -1px;
}
.quantity_up {
	height: 17px;
	border-radius: 0 8px 0 0;
	margin-top: 0;
	border-bottom: 1px solid #fff;
}
.quantity_down {
	height: 17px;
	border-radius: 0 0 8px 0;
	margin-top: 0;
}
.quantity_up:hover,
.quantity_down:hover {
	text-decoration: none;
	background: #be3d42;
	color: #fff;
}
.bx_catalog_item_controls_blockone {
/*	margin-bottom: 10px;*/
	margin-top: -5px;
}
.compare-wrap {
	margin-bottom: 7px;
}
.compare-link {
	text-decoration: underline;
}
.compare-link:hover {
	text-decoration: none;
}
.cat-full .masonry-grid__item {
	padding-bottom: 140px;
}
.bx_catalog_tile {
	margin: 0;
}
.cat-list {
	margin: 0;
	list-style: none;
	padding: 0;
	display: inline-block;
	margin-right: 10%;
	width: 25%;
}
.cat-list-wrap .cat-list:last-child {
	margin-right: 0;
}
.cat-list li {
	padding: 1px 0;
}
.cat-list a {
	color: #2a2a2a;
	text-decoration: underline;
	font-size: 15px;
}
.cat-list a:hover {
	text-decoration: none;
}
.pagenav {
	display: none;
}
.masonry-grid__price {
	margin-top: 10px;
}
.masonry-grid__image-square::before {
	content: "";
	display: block;
	padding-top: 70%;
}
.masonry-grid__image-square {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}

.owl-carousel-slider .owl-prev {
	width: 23px;
	height: 50px;
	background: url(images/left.png) center center no-repeat!important;
	display: block !important;
	float: left;
	margin-left: -40px!important;
}
.owl-carousel-slider .owl-next {
    width: 23px;
    height: 50px;
    background: url(images/right.png) center center no-repeat!important;
    display: block !important;
    float: right;
    margin-right: -40px!important;
}
.bx_notavailable {
	display: inline-block;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	border: 1px solid #E4E4E4;
	background: #F3F3F3;
	white-space: normal;
	line-height: normal;
	padding: 5px 15px;
	color: #3f3f3f;
}
.bx_bt_button {
    background: #00a2df;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00a2df),color-stop(100%,#006fcb));
    background: -webkit-linear-gradient(top,#00a2df 0,#006fcb 100%);
    background: -moz-linear-gradient(top,#00a2df 0,#006fcb 100%);
    background: -ms-linear-gradient(top,#00a2df 0,#006fcb 100%);
    background: -o-linear-gradient(top,#00a2df 0,#006fcb 100%);
    background: linear-gradient(to bottom,#00a2df 0,#006fcb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a2df',endColorstr='#006fcb',GradientType=0);
    color: #fff;
    text-shadow: 0 1px 0 #165c99;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.subscr-block {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.bx-catalog-subscribe-button {
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
}
.bx_bt_button.bx-catalog-subscribe-button {
    background: #BD165E!important;
    border-radius: 5px;
    color: #fff !important;
    display: inline-block;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    width: auto;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5!important;
    height: auto!important;
    font-weight: normal!important;
    text-shadow: none!important;
}
.bx_bt_button.bx-catalog-subscribe-button:hover {
    background: #FF879F!important;
}