/*.select_form {
margin-top:30px;
}*/
.form_line {
/*margin:0 auto;
padding:0 0 10px 20px;*/
width:170px;
}
label {
padding:0 20px 0 10px;
width:110px;
display:inline-block;
line-height:12px;
}

/*all*/
.outtaHere {
position:absolute;
left:-3000px;
}
span.left, span.center, .selectArea a {
display:inline-block;
/*display:inline;*/
/*zoom:1;*/
vertical-align:top;
}

/*select*/
.form_line select {
/*width:265px;*/
width: 170px;
}
.selectArea {
/*margin:0 25px 0 10px;*/
/*width: 170px;*/
position:relative;
/*background:url(select_center.png) repeat-x;*/
border: 2px solid #106799;
border-radius: 7px;
/*text-align: center;*/
padding-left: 22px;
}
a.selectButton, span.left {
height:27px;
position:absolute;
top:0;
}
span.left {
width:10px;
left:-10px;
background:url(../images/select_sprite.png) no-repeat 0 -27px;
}
span.center {
line-height:27px;
color: #106799;
font-weight: 400;
padding-top: 0;
}
a.selectButton, a.selectButton:hover {
width:25px;
right:-25px;
background:url(../images/down-blue.png) no-repeat 0 0;
right: -1px;
top: 10px;
outline: none;
}

/*option*/
.optionsDivVisible {
margin-left:-5px;
border: 2px solid #106799;
border-radius: 7px;
}
.select-center {
/*padding:5px 0;*/
background:#fff;
border:1px solid #ccc;
border-top:0;
border-style: none;
border-radius: 7px;
}
.select-center a {
padding-left:10px;
line-height:1;
color:#666;
text-decoration:none;
}
.select-center a:hover {
color:#333;
}


.select-center ul li:hover {
	background-color: #ff8c90;
}

.select-center ul li:hover a {
	color: #fff;
}

.select-center ul {
	padding: 0;
}

.select-center ul li {
	padding: 8px 12px;
}

.select-center ul li:first-child {
    border-radius: 7px 7px 0 0;
}

.select-center ul li:last-child {
    border-radius: 0 0 7px 7px;
}
