.bx_price,
.cart-price {
	white-space: nowrap;
}
.wishlist .detail-info {
	width: 674px;
	max-height: 490px;
}
.wishlist .cart tr.active .column1 {
	width: 50%;
}
.wishlist .cart tr.active .column2 {
	width: 48%;
}
.bx_catalog_item_articul {
	display: none;
}
.wishlist .detail-info {
	max-height: 465px!important;
}

.bx_size_scroller_container ul {
	width: auto!important;
	padding-left: 0;
	list-style: none;
    margin-left: 0!important;
}
.bx_size_scroller_container ul li {
	display: inline-block;
	width: 60px!important;
	position: relative;
	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    height: 25px;
}

.bx_size_scroller_container ul li .cnt {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 2px;
    left: 2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
}

.bx_size_scroller_container ul li:hover .cnt {
    border: 1px solid #70B50D;
}

.bx_size_scroller_container ul li:active .cnt, .bx_size_scroller_container ul li.bx_active .cnt {
    border: 2px solid #70B50D;
}

.quantity-cnt {
    display: none;
    margin-bottom: 10px;
}

.bx_size_scroller_container ul li.bx_missing {
    display: inline-block!important;
}