html {font-size: 19px !important}

@media only screen and (min-width: 1360px) {
	.index-banners-big-item {max-width: 795px}
}
.header-cart-sum {display: none}

html body .add2wish, html body .add2wish:hover {padding: 10px; border: 2px solid #e8f7ff; background: none}

html body .btn {font-size: 0.75rem }
html body .card-info__detail .btn {padding-left: 2px; padding-right: 2px}
html body .bx-filter .bx-ui-slider-part span {font-size: 0.7rem}