/* BASE */

*, *:before, *:after {box-sizing: border-box}


body {line-height: 1.25}

body .ui-container, body .container {width: 100%; max-width: 1360px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;}
.ui-row, .row {}
.ui-col, .col {}

.ui-box {display: inline-block; vertical-align: middle;}
.ui-icon {display: inline-flex; align-items: center; justify-content: center; vertical-align: middle; background-repeat: no-repeat; background-size: contain; background-position: center center;}
/* .ui-icon {margin: 0; padding: 0; background-image: none; text-indent: 0} */
.ui-text {}

.ui-flex-empty {height: 0 !important; border:none !important; margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;}
.ui-flex-grow {flex-grow: 1}

/* VARIABLES */

:root {
	--main-color: #1786c4;
	--main-dark-color: #004b82;
	--border-color: #dcdcdc;
}

/* MAIN */

a {color:inherit; outline: none}
a:hover {color:inherit}

img {vertical-align: middle; max-width: 100%}

iframe {max-width: 100%}

p {margin: 0 0 24px 0}

/*
main ul {margin: 0 0 16px 0; padding: 0}
main li {margin: 0; padding: 0 0 0 0px}
main li:before {content:'•'; margin-right: 4px}
*/

/* HEADERS */

body h1 {margin: 24px 0 16px 0}













/****** FORM GENERAL ******/

input, textarea, select, button {font-family:inherit; font-size:inherit}
.ui-input, .ui-input-normal, input[type=text], input[type=password], input[type=number], input[type=email], textarea, select {
	padding:4px 6px; border:solid 1px #b9b9b9;
}
.ui-selector, .ui-selector-normal, input[type=checkbox], input[type=radio] {
	margin:-4px 2px 0 0; vertical-align:middle;
}

/****** FORM TEMPLATE ******/

.ui-field-row {margin: 0 0 11px 0}
.ui-field-row:last-child {margin-bottom: 0}
.ui-field-title-col {margin: 0 0 2px 0}

.ui-field-required-mark {color: red}

/****** CUSTOM FORMS ******/

.ui-form--solid {width: 450px; padding: 12px 20px; background: #e0e0e0; border-radius: 6px }
.ui-form--solid input:not([type=submit]), textarea, select {width: 100%}

.ui-form--feedback input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea, select {width: 100%}

/****** BUTTON ******/

.ui-button {cursor:pointer; text-decoration:none}

.ui-button--normal, .ui-button--normal:hover, .ui-button--normal:focus {
	display:inline-block; padding:6px 15px; background:#0086c3; color:white; border:none; border-radius:5px;
}
.ui-button--normal:hover {background:#0086c3;}
.ui-button--normal[disabled] {color:white; background:#ddd; cursor:default}


/****** MESSAGES ******/

.error-messages {margin: 0 0 16px 0}
.error-messages .error-message {margin-left: 0}
.error-messages .error-message:before, .error-messages .error-message:after {display: none}

/****** AJAX ******/

/*
.ui-ajax-wrap-loading {opacity: 0.5}
*/





























/* MODAL */

.ui-modal--normal .ui-overlay {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.35)}

.ui-modal--normal {
	position: fixed; z-index: 1050; top: 0; left: 0; right: 0; bottom: 0; 
	display: flex; align-items: center; justify-content: center;
}

.ui-modal--normal {visibility: hidden; transition: all 0.4s ease-out}
.ui-modal--normal.show {visibility: visible;}
.ui-modal--normal.hide {visibility: hidden; transition: all 0.35s ease-out}

.ui-modal--normal .ui-modal-inner {transition: inherit}
.ui-modal--normal.show .ui-modal-inner {visibility: visible; opacity: 1; transform: none;}
.ui-modal--normal .ui-modal-inner, .ui-modal--normal.hide .ui-modal-inner {visibility: hidden; opacity: 0; transform:translateY(-21px)}

.ui-modal--normal.show .ui-modal-overlay {transition: all 0.25s ease-out}
.ui-modal--normal.show .ui-modal-overlay {visibility: visible; opacity: 1; transform: none;}
.ui-modal--normal .ui-modal-overlay, .ui-modal--normal.hide .ui-modal-overlay {visibility: hidden; opacity: 0; }


.ui-modal--normal .ui-modal-inner {
	position: relative; display: flex; margin: auto; flex-direction: column; width: 320px; background: white; color: #000; border: 1px solid var(--border-color); border-radius: 6px;
}
.ui-modal--normal .ui-modal-inner {}
.ui-modal--normal.show .ui-modal-inner {}

.ui-modal--normal.show .ui-modal-inner {display: flex; }

.ui-modal--normal .ui-modal-header {display: flex; flex-direction: row; align-items: center; justify-content: center; min-height: 50px; padding: 5px 15px; padding-right: 5px; background: #f5f5f5; border-bottom: 1px solid var(--border-color)}
.ui-modal--normal .ui-modal-content {flex-grow: 1; padding: 15px; overflow-y: auto}
.ui-modal--normal .ui-modal-footer {}

.ui-modal--normal .ui-modal-title {flex-grow: 1}

.ui-modal--normal .ui-modal-close {}
.ui-modal--normal .ui-modal-close-icon {position: relative; display: inline-flex; vertical-align: middle; width: 32px; height: 32px; overflow: hidden; cursor: pointer}
.ui-modal--normal .ui-modal-close-icon::before, .ui-modal--normal .ui-modal-close-icon::after {
	position: absolute; top: 50%; left: 3px; right: 3px; height: 2px;
	margin: -1px 0 0 0; content: '';     
    background: #000; border-radius: 3px;
}
.ui-modal--normal .ui-modal-close-icon::before {transform: rotate(45deg) scale(0.75);}
.ui-modal--normal .ui-modal-close-icon::after {transform: rotate(-45deg) scale(0.75);}




/*

*/