

.header-top {display: block; height: auto; border-bottom: 2px solid #c3c4c4; margin-bottom: 2px;}
.header-top-inner {width: 100%; padding: 20px 0 10px 0; margin-bottom: 3px; border-bottom: 2px solid #c3c4c4}

.header-main-row {display: flex; margin: -30px; align-items: center;}
.header-main-row > * {flex-grow: 1; margin: 30px; padding: 13px 0}

.header-callback-col {flex-grow: 6}
.header-callback-link {color: #666; font-size: 16px; border-bottom: 2px dotted #666}
.header-callback-link:hover {color: #999; border-bottom-color: #999; text-decoration: none}

.header-cart-icon {width: 30px; height: 27px; background-image: url(img/header-cart.png);}

.header-search {position: relative; }
.header-search input[type=text] {width: 266px; padding: 0 38px 2px 18px; border: none; border-bottom: 2px solid #1786c4}
.header-search input[type=submit] {position: absolute; bottom: 6px; right: 28px; width: 20px; height: 18px; background-color: transparent; background-image: url(img/header-search.png); border: none}