.preloader-overlay {
	background: rgba(255, 255, 255, 0.8) url(images/preloader.gif) no-repeat center center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
}
.documents table thead td  span a {
	color: inherit;
}