.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:5px;
border:0px;
}
div.catalog-section table {
	border:0px;
}
.catalog-border {
	border:3px solid #ECECEC;
	border-radius:10px;
/*	min-height:180px;*/
	margin: 0 auto 50px;
	width:800px;
/*box-shadow:0px 4px 0px rgba(0,0,0,0.3);*/
	position: relative;
}
