
#gorgoc-loginform .form-modal .modal-input-wrapper input {
    font-size: 18px;
}
#gorgoc-loginform .pswd_sent_sms {
    font-size: 14px;
    text-align: right;
    text-decoration: none;
}

#gorgoc-loginform .pswd_sent_sms:hover {
    color: #588fc3;
}
#gorgoc-loginform .message {
    display: block;
    width: 100%;
    font-size: 14px;
    height: 20px;
    color:#334771;
    position: relative;
    top: -10px;
    text-align: center;
}

#gorgoc-loginform .form-field-input {
    width:100%!important;
    font-size: 18px;
}

#gorgoc-loginform .modal-foter-link a {
    font-size: 12px;
    text-align: center;
}
#gorgoc-loginform .modal-foter-link a:hover {
    color: #1862ab;
}
#gorgoc-loginform .tip-an-input-mask {
    font-size: 10px;

}
#gorgoc-loginform label {
    margin:0;
}

#gorgoc-loginform .agreement-box {
    font-size: 13px;
    position: relative;

}
#gorgoc-loginform .agreement-box .text {
    position: relative;
    top:10px;
}
#gorgoc-loginform .agreement-box a,#gorgoc-loginform .agreement-box a:hover {
    color:#1862ab;
}
#gorgoc-loginform [type="checkbox"] {
    width: 15px;
    margin-right: 15px;
    float: left;
}
#gorgoc-loginform .registration-code {
    width: 50px;
    height: 80px;
    margin-right: 5px;
}
#gorgoc-loginform .registration-code {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
#gorgoc-loginform input.error-input{
    border: 1px solid #f45860!important;
}

@media (max-width: 400px) {
    #gorgoc-loginform .agreement-box {
        font-size: 11px;
    }
}