.cabinet .checkboxArea, .cabinet .checkboxAreaChecked {
    width: 25px !important;
    height: 27px !important;
}
.btn-submit {
	background: #426EC7;
    border: 2px solid #426EC7;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}
.btn-submit:hover {
	background: #2C87F2;
	border: 2px solid #2C87F2;
}
.change-pass .form-body div:first-child input {
    background: #f4f4f4 !important;
}
.alert .errortext {
	color: inherit;
}
.alert p:last-child {
	margin-bottom: 0;
}
footer {
    margin-top: 0!important;
}