.search-catalog-button{
    background-color: #4dadf7;
    width: 121px;
    color: #FFFFFF;
}
.search-catalog-button, .search-catalog-text{
    height: 42px !important;
    border: 2px solid #4dadf7 !important;
    border-radius: 5px;
}
.search-catalog-text{
    padding: unset !important;
    padding-left: 20px !important;
    margin-right: 3px;
    width: 84%;
}
.search-page{
    width: 100%;
}

@media (max-width: 703px)
{
    .search-catalog-text{
        width: 72% !important;
    }
}

@media (max-width: 360px)
{
    .search-catalog-text, .search-catalog-button{
        width: 100% !important;
    }
}