.registration .checkboxArea, .registration .checkboxAreaChecked {
    width: 25px !important;
    height: 27px !important;
}
.registration label {
	line-height: 1.2;
	vertical-align: top;
	width: 140px!important;
}