.modern-page-navigation a,
.modern-page-navigation span {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 10px 5px;
	background: #fff;
	text-align: center;
	line-height: 36px;
	border: 2px solid #70b50d!important;
	border-radius: 5px;
	padding: 0!important;
	color: #70b50d;
	vertical-align: top;
	font-weight: normal!important;
	text-decoration: none !important;
}
.modern-page-navigation a:hover {
	background: #70b50d;
	color: #fff!important;
}
.modern-page-navigation a.modern-page-dots,
.modern-page-navigation a.modern-page-dots:hover {
	text-indent: -9999px;
	background: #f5faef url(pagination.png) center center no-repeat;
	border-color: transparent!important;
}
.modern-page-navigation a.modern-page-next,
.modern-page-navigation a.modern-page-previous {
	width: auto!important;
	text-transform: uppercase;
	padding-left: 20px!important;
	padding-right: 20px!important;
}
.modern-page-navigation {
	margin: 0 -30px !important;
	/*background: #f5faef;*/
	border-top: 1px solid #ddedca;
	padding: 15px 0!important;
}

.modern-page-navigation a:hover {
	text-decoration: none !important;
}