/* product__similar */
.product__similar {
	margin-bottom: 32px;
}
.product__similar-container {
	position: relative;
}
.product__similar-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.product__similar .product__similar-image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 125px;
	margin-bottom: 16px;
}
.product__similar .product__similar-image img {
	display: block;
}
.product__similar .product__similar-title {
	text-align: center;
	min-height: 24px;
	font-size: 10px;
	margin-bottom: 6px;
	color: #1a1a18;
}
.product__similar .product__similar-price {
	text-align: center;
}
.product__similar .product__similar-price-value {
	font-size: 22px;
	font-weight: bold;
	color: #1a1a18;
}
.product__similar .product__similar-price-value--discount {
	color: #c6007a;
}
.product__similar .product__similar-price-value--old {
	font-size: 12px;
	text-decoration: line-through;
	color: #9b9b9b;
}