.search-catalog-button{
    background-color: #4dadf7;
    width: 121px;
    color: #FFFFFF;
}
.search-catalog-button, .search-catalog-text{
    height: 42px !important;
    border: 2px solid #4dadf7 !important;
    border-radius: 5px;
}
.search-catalog-text{
    padding: unset !important;
    padding-left: 20px !important;
    margin-right: 3px;
    width: 84%;
}
.search-page{
    width: 100%;
}

@media (max-width: 1199px)
{
    .search-catalog-text{
        width: 81%;
    }
}

@media (max-width: 767px)
{
    .search-catalog-text{
        width: 69%;
    }
}

@media (max-width: 589px)
{
    .search-catalog-text, .search-catalog-button{
        width: 100%;
        margin-bottom: 20px;
    }
}