.bx_price,
.cart-price {
	white-space: nowrap;
}
.wishlist .detail-info {
	width: 674px;
	max-height: 490px;
}
.wishlist .cart tr.active .column1 {
	width: 50%;
}
.wishlist .cart tr.active .column2 {
	width: 48%;
}
.bx_catalog_item_articul {
	display: none;
}
.detail-info {
	max-height: 460px!important;
    width: 670px!important;
}
.detail-info  .column1,
.detail-info  .column2 {
width: 48%!important;
}